@page
@model NDDC_Website_2024.Pages.WhoWeAre.BoardModel
@{
}

<section class="header-img" style="background-image: url(/assets/image/bg/conferencetable2.png);">
		<div class="container">
			<div class="page-breadcrumbs">
				<ul class="list-unstyled">
					<li><a href="index.html">Home</a></li>
					<li>Governing Board</li>
				</ul><!-- list-unstyled -->
			</div><!-- page-breadcrumbs -->
			<div class="page-banner-title">
				<h3>Our Board</h3>
			</div><!-- page-banner-title -->
		</div><!-- container -->			
	</section><!--page-banner-->
	@* <section class="about-two-section about-two">
		<div class="container">
			<div class="row justify-content-between row-gutter-y-60">
				<div class="col-lg-12 col-xl-6 col-xxl-6">
					<div class="about-two-image">
						<div class="about-two-image-inner img-one">
							<img src="~/assets/image/gallery/about-6.png" alt="img-74">
							<img src="~/assets/image/shapes/about-3.jpg" class="floated-image" alt="img-75">
							@*<div class="sign-text">Mr. Chiedu Ebie</div>*@
						@* </div><!-- about-two-image-inner -->
						<div class="about-two-image-inner img-two">
							<img src="~/assets/image/shapes/shape-1.png" alt="img-76" class="mayor-image">
							<img src="~/assets/image/gallery/about-5.png" alt="img-77">
						</div><!-- about-two-image-inner img-two -->
						<div class="about-two-service-video">
							<a href="https://www.youtube.com/watch?v=rzfmZC3kg3M" class="video-popup">
								<i class="fa fa-play"></i>
							</a><!-- video-popup -->
						</div><!-- about-two-service-video -->
					</div><!--about-two-image-->
				</div><!-- col-lg-12 col-xl-6 col-xxl-6 -->
				<div class="col-lg-12 col-xl-6 col-xxl-6">
					<div class="about-two-inner">
						<div class="section-tagline">Our introductions</div><!-- section-tagline -->
							<h2 class="section-title">Meet Our Chairman</h2><!-- section-title -->  *@
						@*<div class="row row-gutter-y-20">
							<div class="col-xl-6 col-lg-12 col-md-6">
								<div class="about-two-content">
									<i class="fa-solid fa-circle-check"></i><h4 class="about-two-title">Human Resources</h4>
								</div><!-- about-two-content -->
							</div><!-- col-xl-6 col-lg-12 col-md-6 -->
							<div class="col-xl-6 col-lg-12 col-md-6">
								<div class="about-two-content">
									<i class="fa-solid fa-circle-check"></i><h4 class="about-two-title">Economic Data</h4>
								</div><!-- about-two-content -->
							</div><!-- col-xl-6 col-lg-12 col-md-6 -->
						</div><!--row-->*@
						@* <div class="about-two-text mb-5">
							<div class="about-two-text-inner-one">
								<p class="lead">Mr. Chiedu Ebie, The Chairman, of the Niger Delta Development Commission, NDDC, comes fully equipped to make a difference at the interventionist agency, whose core Mandate is to facilitate the sustainable development of the Niger Delta region.</p><!-- lead -->
							</div><!-- about-two-text-inner-one -->
							<p>He boasts an impressive profile spanning over twenty years of experience and expertise in crisis management and capacity building, built across diverse fields of excellent human endeavour.</p>
							<a href="cause-details.html" class="btn btn-primary">Read more</a>
						</div>*@<!-- about-two-text-->
						@*<div class="about-two-author-content">
							<div class="about-two-author-content-box">
								<div class="about-two-author-content-icon">
									<i class="fa-solid fa-phone-flip"></i>
								</div><!-- about-two-author-content-icon -->
								<div class="about-two-author-content-contact">
									<h5>Chairmans Office</h5>
									<a href="tel:+92-9800-6869">+92 (9800) 6869</a>
								</div><!-- about-two-author-content-contact -->
							</div><!--about-two-author-content-box-->
							<div class="about-two-author-content-socials">
								<a href="#"><i class="fa-brands fa-twitter"></i></a>
								<a href="#"><i class="fa-brands fa-facebook"></i></a>
								<a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
								<a href="#"><i class="fa-brands fa-instagram"></i></a>
							</div><!-- about-two-author-content-socials -->
						</div><!-- about-two-author-content -->*@
					@* </div><!--about-two-inner-->
				</div><!-- col-lg-12 col-xl-6 col-xxl-6 -->
			</div><!-- row -->
		</div><!-- container -->
	</section> *@<!--about-two-section-->		
	<section class="team-section">
		<div class="container">
		<div class="row justify-content-center">
				<div class="col-12 col-md-12 col-lg-6 col-xl-6 ">
					<div class="team-inner">
						<div class="section-title-box text-center">
							<h2 class="section-title fs-3">All Board Members</h2>
						</div><!-- section-title-box -->
					</div><!--team-inner-->
				</div><!--col-12 col-md-12 col-lg-6 col-xl-6-->
				@* <div class="col-12 col-md-12 col-lg-6 col-xl-6">
					<div class="team-box">
						<p>Aliquam viverra arcu. Donec aliquet blandit enim feugiat. Suspendisse id quam sed eros tincidunt luctus sit amet eu nibh egestas tempus turpis.</p>
					</div><!--team-box-->
				</div><!--col-12 col-md-12 col-lg-6 col-xl-6--> *@
			</div><!-- row -->
			<div class=" d-flex justify-content-center row mb-4">
				<div class="col-12 col-md-6 col-xl-3">
						<div class="team-card">
							<div class="team-card-img">
								<img src="~/assets/image/team/team-GB-Chair.png" class="img-fluid" alt="Chairman">
								<div class="team-card-icon">
									<a href="#" class="pinterest"><i class="fa-brands fa-pinterest-p"></i></a>
									<a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a>
									<a href="#" class="facebook"><i class="fa-brands fa-facebook"></i></a>
								</div><!-- team-card-icon -->
							</div><!-- team-card-img -->
							<div class="team-card-content">
								<h4><a href="team-details.html">Mr. Chiedu Ebie</a></h4>
								<p>Chairman</p>
								<a href="cause-details.html" class="btn btn-primary">Know more</a>
							</div><!-- team-card-content -->
					</div>
					</div><!--col-12 col-md-6 col-xl-3-->
			</div>
			<div class="row row-gutter-y-30">
				<div class="col-12 col-md-6 col-xl-3">
					<div class="team-card">
						<div class="team-card-img">
							<img src="~/assets/image/team/team-GB-MD.png" class="img-fluid" alt="img-78">
							<div class="team-card-icon">
								<a href="#" class="pinterest"><i class="fa-brands fa-pinterest-p"></i></a>
								<a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a>
								<a href="#" class="facebook"><i class="fa-brands fa-facebook"></i></a>
							</div><!-- team-card-icon -->
						</div><!-- team-card-img -->
						<div class="team-card-content">
							<h4><a href="team-details.html">Dr. Samuel Ogbuku</a></h4>
							<p>MD</p>
							<a href="cause-details.html" class="btn btn-primary">Know more</a>
						</div><!-- team-card-content -->
					</div>
				</div><!--col-12 col-md-6 col-xl-3-->
				<div class="col-12 col-md-6 col-xl-3">
					<div class="team-card">
						<div class="team-card-img">
							<img src="~/assets/image/team/team-GB-EDP.png" class="img-fluid" alt="img-78">
							<div class="team-card-icon">
								<a href="#" class="pinterest"><i class="fa-brands fa-pinterest-p"></i></a>
								<a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a>
								<a href="#" class="facebook"><i class="fa-brands fa-facebook"></i></a>
							</div><!-- team-card-icon -->
						</div><!-- team-card-img -->
						<div class="team-card-content">
							<h4><a href="team-details.html">Mr. Victor Antai</a></h4>
							<p>EDP</p>
							<a href="cause-details.html" class="btn btn-primary">Know more</a>
						</div><!-- team-card-content -->
					</div>
				</div><!--col-12 col-md-6 col-xl-3-->
				<div class="col-12 col-md-6 col-xl-3">
					<div class="team-card">
						<div class="team-card-img">
							<img src="~/assets/image/team/team-GB-EDCS.png" class="img-fluid" alt="img-78">
							<div class="team-card-icon">
								<a href="#" class="pinterest"><i class="fa-brands fa-pinterest-p"></i></a>
								<a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a>
								<a href="#" class="facebook"><i class="fa-brands fa-facebook"></i></a>
							</div><!-- team-card-icon -->
						</div><!-- team-card-img -->
						<div class="team-card-content">
							<h4><a href="team-details.html">Mr. Ifedayo Abegunde</a></h4>
							<p>EDCS</p>
							<a href="cause-details.html" class="btn btn-primary">Know more</a>
						</div><!-- team-card-content -->
					</div>
				</div><!--col-12 col-md-6 col-xl-3-->
				<div class="col-12 col-md-6 col-xl-3">
					<div class="team-card">
						<div class="team-card-img">
							<img src="~/assets/image/team/team-GB-EDFA.png" class="img-fluid" alt="img-78">
							<div class="team-card-icon">
								<a href="#" class="pinterest"><i class="fa-brands fa-pinterest-p"></i></a>
								<a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a>
								<a href="#" class="facebook"><i class="fa-brands fa-facebook"></i></a>
							</div><!-- team-card-icon -->
						</div><!-- team-card-img -->
						<div class="team-card-content">
							<h4><a href="team-details.html">Mr. Boma Iyaye</a></h4>
							<p>EDFA</p>
							<a href="cause-details.html" class="btn btn-primary">Know more</a>
						</div><!-- team-card-content -->
					</div>
				</div><!--col-12 col-md-6 col-xl-3-->
				<div class="col-12 col-md-6 col-xl-3">
					<div class="team-card">
						<div class="team-card-img">
							<img src="~/assets/image/team/team-GB-Abia.png" class="img-fluid" alt="img-78">
							
						</div><!-- team-card-img -->
						<div class="team-card-content">
							<h4><a href="team-details.html">Chief Eruba Dimgba</a></h4>
							<p>Abia State Representative</p>
							<a href="cause-details.html" class="btn btn-primary">Know more</a>
						</div><!-- team-card-content -->
					</div>
				</div><!--col-12 col-md-6 col-xl-3-->
				<div class="col-12 col-md-6 col-xl-3">
					<div class="team-card">
						<div class="team-card-img">
							<img src="~/assets/image/team/team-GB-AkwaIbom.png" class="img-fluid" alt="img-78">
							
						</div><!-- team-card-img -->
						<div class="team-card-content">
							<h4><a href="team-details.html">Pastor Abasiandikan Robert Nkono</a></h4>
							<p>Akwa Ibom State Representative</p>
							<a href="cause-details.html" class="btn btn-primary">Know more</a>
						</div><!-- team-card-content -->
					</div>
				</div><!--col-12 col-md-6 col-xl-3-->
				<div class="col-12 col-md-6 col-xl-3">
					<div class="team-card">
						<div class="team-card-img">
							<img src="~/assets/image/team/team-GB-Bayelsa.png" class="img-fluid" alt="img-78">
							
						</div><!-- team-card-img -->
						<div class="team-card-content">
							<h4><a href="team-details.html">Elder Senator Dimaro Denyanbofa</a></h4>
							<p>Bayelsa State Representative</p>
							<a href="cause-details.html" class="btn btn-primary">Know more</a>
						</div><!-- team-card-content -->
					</div>
				</div><!--col-12 col-md-6 col-xl-3-->
				<div class="col-12 col-md-6 col-xl-3">
					<div class="team-card">
						<div class="team-card-img">
							<img src="~/assets/image/team/team-GB-CrossRiver.png" class="img-fluid" alt="img-78">
							
						</div><!-- team-card-img -->
						<div class="team-card-content">
							<h4><a href="team-details.html">Hon. (Chief) Orok Otu Duke (J.P.)</a></h4>
							<p>Cross River State Representative</p>
							<a href="cause-details.html" class="btn btn-primary">Know more</a>
						</div><!-- team-card-content -->
					</div>
				</div><!--col-12 col-md-6 col-xl-3-->
				<div class="col-12 col-md-6 col-xl-3">
					<div class="team-card">
						<div class="team-card-img">
							<img src="~/assets/image/team/team-GB-Delta.png" class="img-fluid" alt="img-78">
							<div class="team-card-icon">
								<a href="#" class="pinterest"><i class="fa-brands fa-pinterest-p"></i></a>
								<a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a>
								<a href="#" class="facebook"><i class="fa-brands fa-facebook"></i></a>
							</div><!-- team-card-icon -->
						</div><!-- team-card-img -->
						<div class="team-card-content">
							<h4><a href="team-details.html">Rt. Hon. Monday Igbuya</a></h4>
							<p>Delta State Representative</p>
							<a href="cause-details.html" class="btn btn-primary">Know more</a>
						</div><!-- team-card-content -->
					</div>
				</div><!--col-12 col-md-6 col-xl-3-->
				<div class="col-12 col-md-6 col-xl-3">
					<div class="team-card">
						<div class="team-card-img">
							<img src="~/assets/image/team/team-GB-Edo.png" class="img-fluid" alt="img-78">
							
						</div><!-- team-card-img -->
						<div class="team-card-content">
							<h4><a href="team-details.html">Patrick Aisowieren</a></h4>
							<p>Edo State Representative</p>
							<a href="cause-details.html" class="btn btn-primary">Know more</a>
						</div><!-- team-card-content -->
					</div>
				</div><!--col-12 col-md-6 col-xl-3-->
				<div class="col-12 col-md-6 col-xl-3">
					<div class="team-card">
						<div class="team-card-img">
							<img src="~/assets/image/team/team-GB-Imo.png" class="img-fluid" alt="img-78">
							
						</div><!-- team-card-img -->
						<div class="team-card-content">
							<h4><a href="team-details.html">Chidiebere Kyrian Uchegbu</a></h4>
							<p>Imo State Representative</p>
							<a href="cause-details.html" class="btn btn-primary">Know more</a>
						</div><!-- team-card-content -->
					</div>
				</div><!--col-12 col-md-6 col-xl-3-->
				<div class="col-12 col-md-6 col-xl-3">
					<div class="team-card">
						<div class="team-card-img">
							<img src="~/assets/image/team/team-GB-Ondo.png" class="img-fluid" alt="img-78">
							
						</div><!-- team-card-img -->
						<div class="team-card-content">
							<h4><a href="team-details.html">(Prince) Otito Thompson Atikase</a></h4>
							<p>Ondo State Representative</p>
							<a href="cause-details.html" class="btn btn-primary">Know more</a>
						</div><!-- team-card-content -->
					</div>
				</div><!--col-12 col-md-6 col-xl-3-->
				<div class="col-12 col-md-6 col-xl-3">
					<div class="team-card">
						<div class="team-card-img">
							<img src="~/assets/image/team/team-GB-Rivers.png" class="img-fluid" alt="img-78">
							
						</div><!-- team-card-img -->
						<div class="team-card-content">
							<h4><a href="team-details.html">Sir Anthony Chinedu Okocha</a></h4>
							<p>Rivers State Representative</p>
							<a href="cause-details.html" class="btn btn-primary">Know more</a>
						</div><!-- team-card-content -->
					</div>
				</div><!--col-12 col-md-6 col-xl-3-->
				<div class="col-12 col-md-6 col-xl-3">
					<div class="team-card">
						<div class="team-card-img">
							<img src="~/assets/image/team/team-GB-Northcentral.png" class="img-fluid" alt="img-78">
							
						</div><!-- team-card-img -->
						<div class="team-card-content">
							<h4><a href="team-details.html">Nicholas Wende</a></h4>
							<p>NorthCentral Representative</p>
							<a href="cause-details.html" class="btn btn-primary">Know more</a>
						</div><!-- team-card-content -->
					</div>
				</div><!--col-12 col-md-6 col-xl-3-->
				<div class="col-12 col-md-6 col-xl-3">
					<div class="team-card">
						<div class="team-card-img">
							<img src="~/assets/image/team/team-GB-Northeast.png" class="img-fluid" alt="img-78">
							
						</div><!-- team-card-img -->
						<div class="team-card-content">
							<h4><a href="team-details.html">Dr. Abdulrazzak Sa'ad Namdas</a></h4>
							<p>NorthEast Representative</p>
							<a href="cause-details.html" class="btn btn-primary">Know more</a>
						</div><!-- team-card-content -->
					</div>
				</div><!--col-12 col-md-6 col-xl-3-->
				<div class="col-12 col-md-6 col-xl-3">
					<div class="team-card">
						<div class="team-card-img">
							<img src="~/assets/image/team/team-GB-Northwest.png" class="img-fluid" alt="img-78">
							
						</div><!-- team-card-img -->
						<div class="team-card-content">
							<h4><a href="team-details.html">Ibrahim Abdullahi Gobir MFR, CON</a></h4>
							<p>NorthWest Representative</p>
							<a href="cause-details.html" class="btn btn-primary">Know more</a>
						</div><!-- team-card-content -->
					</div>
				</div><!--col-12 col-md-6 col-xl-3-->
			</div><!-- row -->
		</div><!-- container -->
	</section><!--team-section-->
	
@*<section class="event-section">
	<div class="container">
		<div class="event-section-inner">
			<div class="row">
				<div class="col-lg-6">
					<div class="section-title-box">
						<div class="section-tagline">Our People</div>
						<h2 class="section-title">Our Executives and Governing Board</h2>
					</div><!-- section-title-box -->
				</div><!--col-lg-6-->
				<div class="col-lg-6">
					<div class="event-content-box">
						<div class="section-text">
							<p>
								The Niger Delta Development Commission is Governed by seaseoned experts from accross the region that help navigate the affairs of the Commission.
							</p>
						</div><!-- section-text -->
					</div><!--event-content-box-->
				</div><!-- col-lg-6 -->
			</div><!-- row -->
			<div class="team-card">
						<div class="team-card-img">
							<img src="~/assets/image/team/team-GB-Chair.png" class="img-fluid" alt="Chairman">
							<div class="team-card-icon">
								<a href="#" class="pinterest"><i class="fa-brands fa-pinterest-p"></i></a>
								<a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a>
								<a href="#" class="facebook"><i class="fa-brands fa-facebook"></i></a>
							</div><!-- team-card-icon -->
						</div><!-- team-card-img -->
						<div class="team-card-content">
							<h4><a href="team-details.html">Mr. Chiedu Ebie</a></h4>
							<p>Chairman</p>
						</div><!-- team-card-content -->
					</div>
					<div class="team-card-dual">
						<div class="team-card">
						<div class="team-card-img">
							<img src="~/assets/image/team/team-GB-MD.png" class="img-fluid" alt="img-78">
							<div class="team-card-icon">
								<a href="#" class="pinterest"><i class="fa-brands fa-pinterest-p"></i></a>
								<a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a>
								<a href="#" class="facebook"><i class="fa-brands fa-facebook"></i></a>
							</div><!-- team-card-icon -->
						</div><!-- team-card-img -->
						<div class="team-card-content">
							<h4><a href="team-details.html">Dr. Samuel Ogbuku</a></h4>
							<p>MD</p>
						</div><!-- team-card-content -->
					</div>
					<div class="team-card">
						<div class="team-card-img">
							<img src="~/assets/image/team/team-GB-EDP.png" class="img-fluid" alt="img-78">
							<div class="team-card-icon">
								<a href="#" class="pinterest"><i class="fa-brands fa-pinterest-p"></i></a>
								<a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a>
								<a href="#" class="facebook"><i class="fa-brands fa-facebook"></i></a>
							</div><!-- team-card-icon -->
						</div><!-- team-card-img -->
						<div class="team-card-content">
							<h4><a href="team-details.html">Mr. Victor Antai</a></h4>
							<p>EDP</p>
						</div><!-- team-card-content -->
					</div>
					<div class="team-card">
						<div class="team-card-img">
							<img src="~/assets/image/team/team-GB-EDCS.png" class="img-fluid" alt="img-78">
							<div class="team-card-icon">
								<a href="#" class="pinterest"><i class="fa-brands fa-pinterest-p"></i></a>
								<a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a>
								<a href="#" class="facebook"><i class="fa-brands fa-facebook"></i></a>
							</div><!-- team-card-icon -->
						</div><!-- team-card-img -->
						<div class="team-card-content">
							<h4><a href="team-details.html">Mr. Ifedayo Abegunde</a></h4>
							<p>EDCS</p>
						</div><!-- team-card-content -->
					</div>
						<div class="team-card">
							<div class="team-card-img">
								<img src="~/assets/image/team/team-GB-EDFA.png" class="img-fluid" alt="img-78">
								<div class="team-card-icon">
									<a href="#" class="pinterest"><i class="fa-brands fa-pinterest-p"></i></a>
									<a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a>
									<a href="#" class="facebook"><i class="fa-brands fa-facebook"></i></a>
								</div><!-- team-card-icon -->
							</div><!-- team-card-img -->
							<div class="team-card-content">
								<h4><a href="team-details.html">Mr. Boma Iyaye</a></h4>
								<p>EDFA</p>
							</div><!-- team-card-content -->
						</div>
					</div>
					
					<div class="text-center">
						<button class="btn btn-primary m-4">View More</button>
					</div>
				
		</div><!--event-section-inner-->
	</div><!--container-->
</section><!--event-section-->*@