@page
@model NDDC_Website_2024.Pages.WhoWeAre.ManagementStaffModel
@{
}

<section class="page-banner mb-5">
	<div class="container">
		<div class="page-breadcrumbs">
			<ul class="list-unstyled">
				<li><a href="index.html">Home</a></li>
				<li>Our Management Staff</li>
			</ul><!-- list-unstyled -->
		</div><!-- page-breadcrumbs -->
		<div class="page-banner-title">
			<h3>Our Management Staff</h3>
		</div><!-- page-banner-title -->
	</div><!-- container -->			
</section><!--page-banner-->
<section class="event-section mt-5">
	<div class="container">
		<div class="event-section-inner">
			<div class="row">
				<div class="col-lg-6">
					<div class="section-title-box">
						<div class="section-tagline">Our People</div>
						<h2 class="section-title">Our Executives and Governing Board</h2>
					</div><!-- section-title-box -->
				</div><!--col-lg-6-->
				<div class="col-lg-6">
					<div class="event-content-box">
						<div class="section-text">
							<p>
								The Niger Delta Development Commission is Governed by seaseoned experts from accross the region that help navigate the affairs of the Commission.
							</p>
						</div><!-- section-text -->
					</div><!--event-content-box-->
				</div><!-- col-lg-6 -->
			</div><!-- row -->
			<div class="team-card">
						<div class="team-card-img">
							<img src="~/assets/image/team/team-GB-Chair.png" class="img-fluid" alt="Chairman">
							<div class="team-card-icon">
								<a href="#" class="pinterest"><i class="fa-brands fa-pinterest-p"></i></a>
								<a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a>
								<a href="#" class="facebook"><i class="fa-brands fa-facebook"></i></a>
							</div><!-- team-card-icon -->
						</div><!-- team-card-img -->
						<div class="team-card-content">
							<h4><a href="team-details.html">Mr. Chiedu Ebie</a></h4>
							<p>Chairman</p>
						</div><!-- team-card-content -->
					</div>
					<div class="team-card-dual">
						<div class="team-card">
								<div class="team-card-img">
									<img src="~/assets/image/team/team-GB-MD.png" class="img-fluid" alt="img-78">
									<div class="team-card-icon">
										<a href="#" class="pinterest"><i class="fa-brands fa-pinterest-p"></i></a>
										<a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a>
										<a href="#" class="facebook"><i class="fa-brands fa-facebook"></i></a>
									</div><!-- team-card-icon -->
								</div><!-- team-card-img -->
								<div class="team-card-content">
									<h4><a href="team-details.html">Dr. Samuel Ogbuku</a></h4>
									<p>MD</p>
								</div><!-- team-card-content -->
						</div>
						<div class="team-card">
							<div class="team-card-img">
								<img src="~/assets/image/team/team-GB-EDP.png" class="img-fluid" alt="img-78">
								<div class="team-card-icon">
									<a href="#" class="pinterest"><i class="fa-brands fa-pinterest-p"></i></a>
									<a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a>
									<a href="#" class="facebook"><i class="fa-brands fa-facebook"></i></a>
								</div><!-- team-card-icon -->
							</div><!-- team-card-img -->
							<div class="team-card-content">
								<h4><a href="team-details.html">Mr. Victor Antai</a></h4>
								<p>EDP</p>
							</div><!-- team-card-content -->
						</div>
						<div class="team-card">
							<div class="team-card-img">
								<img src="~/assets/image/team/team-GB-EDCS.png" class="img-fluid" alt="img-78">
								<div class="team-card-icon">
									<a href="#" class="pinterest"><i class="fa-brands fa-pinterest-p"></i></a>
									<a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a>
									<a href="#" class="facebook"><i class="fa-brands fa-facebook"></i></a>
								</div><!-- team-card-icon -->
							</div><!-- team-card-img -->
							<div class="team-card-content">
								<h4><a href="team-details.html">Mr. Ifedayo Abegunde</a></h4>
								<p>EDCS</p>
							</div><!-- team-card-content -->
						</div>
						<div class="team-card">
							<div class="team-card-img">
								<img src="~/assets/image/team/team-GB-EDFA.png" class="img-fluid" alt="img-78">
								<div class="team-card-icon">
									<a href="#" class="pinterest"><i class="fa-brands fa-pinterest-p"></i></a>
									<a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a>
									<a href="#" class="facebook"><i class="fa-brands fa-facebook"></i></a>
								</div><!-- team-card-icon -->
							</div><!-- team-card-img -->
							<div class="team-card-content">
								<h4><a href="team-details.html">Mr. Boma Iyaye</a></h4>
								<p>EDFA</p>
							</div><!-- team-card-content -->
						</div>
					</div>
					
					<div class="text-center">
						<button class="btn btn-primary m-4">View More</button>
					</div>
				
		</div><!--event-section-inner-->
	</div><!--container-->
</section><!--event-section-->
<section class="portfolio-section">
		<div class="container">
			<div class="col-12 col-md-12 col-lg-6 col-xl-6">
				<div class="team-inner">
					<div class="section-title-box">
						<div class="section-tagline">Our members</div>
						<h2 class="section-title">Management Staff</h2>
					</div><!-- section-title-box -->
				</div><!--team-inner-->
			</div><!--col-12 col-md-12 col-lg-6 col-xl-6-->
			<div class="row row-gutter-30">
				<div class="col-lg-4 col-md-4">
					<div class="portfolio-card">
						<img src="~/assets/image/portfolio/portfolio-9.png" class="img-fluid" alt="img-97">
						<div class="portfolio-card-meta">
							<div class="portfolio-card-text"><a href="portfolio-details.html">Tourist</a></div><!-- portfolio-card-text -->
							<div class="portfolio-card-title"><a href="portfolio-details.html">Carnegie Hall</a></div><!-- portfolio-card-title -->
						</div><!-- portfolio-card-meta -->
					</div><!--portfolio-card-->
				</div><!-- col-lg-4 col-md-4 -->
				<div class="col-lg-4 col-md-4">
					<div class="portfolio-card">
						<img src="~/assets/image/portfolio/portfolio-8.png" class="img-fluid" alt="img-98">
						<div class="portfolio-card-meta">
							<div class="portfolio-card-text"><a href="portfolio-details.html">Travel</a></div><!-- portfolio-card-text -->
							<div class="portfolio-card-title"><a href="portfolio-details.html">Penn Station</a></div><!-- portfolio-card-title -->
							</div><!-- portfolio-card-meta -->
						</div><!--portfolio-card-->
				</div><!-- col-lg-4 col-md-4 -->
				<div class="col-lg-4 col-md-4">
						<div class="portfolio-card">
							<img src="~/assets/image/portfolio/portfolio-7.png" class="img-fluid" alt="img-99">
							<div class="portfolio-card-meta">
								<div class="portfolio-card-text"><a href="portfolio-details.html">Tourist</a></div><!-- portfolio-card-text -->
								<div class="portfolio-card-title"><a href="portfolio-details.html">Black Fox Cofee Shop</a></div><!-- portfolio-card-title -->
							</div><!-- portfolio-card-meta -->
						</div><!--portfolio-card-->
				</div><!-- col-lg-4 col-md-4 -->
				<div class="col-lg-4 col-md-4">
					<div class="portfolio-card">
						<img src="~/assets/image/portfolio/portfolio-6.png" class="img-fluid" alt="img-100">
						<div class="portfolio-card-meta">
							<div class="portfolio-card-text"><a href="portfolio-details.html">Tourist</a></div><!-- portfolio-card-text -->
							<div class="portfolio-card-title"><a href="portfolio-details.html">Central Park Tower</a></div><!-- portfolio-card-title -->
						</div><!-- portfolio-card-meta -->
					</div><!--portfolio-card-->
				</div><!-- col-lg-4 col-md-4 -->
				<div class="col-lg-4 col-md-4">
					<div class="portfolio-card">
						<img src="~/assets/image/portfolio/portfolio-5.png" class="img-fluid" alt="img-101">
						<div class="portfolio-card-meta">
							<div class="portfolio-card-text"><a href="portfolio-details.html">Travel</a></div><!-- portfolio-card-text -->
							<div class="portfolio-card-title"><a href="portfolio-details.html">Metropolitan Museum</a></div><!-- portfolio-card-title -->
						</div><!-- portfolio-card-meta -->
					</div><!--portfolio-card-->
				</div><!-- col-lg-4 col-md-4 -->
				<div class="col-lg-4 col-md-4">
					<div class="portfolio-card">
						<img src="~/assets/image/portfolio/portfolio-3.png" class="img-fluid" alt="img-102">
						<div class="portfolio-card-meta">
							<div class="portfolio-card-text"><a href="portfolio-details.html">Business</a></div><!-- portfolio-card-text -->
							<div class="portfolio-card-title"><a href="portfolio-details.html">Empire State Building</a></div><!-- portfolio-card-title -->
						</div><!-- portfolio-card-meta -->
					</div><!--portfolio-card-->
				</div><!-- col-lg-4 col-md-4 -->
				<div class="col-lg-4 col-md-4">
					<div class="portfolio-card">
						<img src="~/assets/image/portfolio/portfolio-1.png" class="img-fluid" alt="img-103">
						<div class="portfolio-card-meta">
							<div class="portfolio-card-text"><a href="portfolio-details.html">Places</a></div><!-- portfolio-card-text -->
							<div class="portfolio-card-title"><a href="portfolio-details.html">Broadway Road</a></div><!-- portfolio-card-title -->
						</div><!-- portfolio-card-meta -->
					</div><!--portfolio-card-->
				</div><!-- col-lg-4 col-md-4 -->
				<div class="col-lg-4 col-md-4">
					<div class="portfolio-card">
						<img src="~/assets/image/portfolio/portfolio-2.png" class="img-fluid" alt="img-104">
						<div class="portfolio-card-meta">
							<div class="portfolio-card-text"><a href="portfolio-details.html">Intercity</a></div><!-- portfolio-card-text -->
							<div class="portfolio-card-title"><a href="portfolio-details.html">Grand Central Terminal</a></div><!-- portfolio-card-title -->
						</div><!-- portfolio-card-meta -->
					</div><!--portfolio-card-->
				</div><!-- col-lg-4 col-md-4 -->
				<div class="col-lg-4 col-md-4">
					<div class="portfolio-card">
						<img src="~/assets/image/portfolio/portfolio-2.png" class="img-fluid" alt="img-104">
						<div class="portfolio-card-meta">
							<div class="portfolio-card-text"><a href="portfolio-details.html">Intercity</a></div><!-- portfolio-card-text -->
							<div class="portfolio-card-title"><a href="portfolio-details.html">Grand Central Terminal</a></div><!-- portfolio-card-title -->
						</div><!-- portfolio-card-meta -->
					</div><!--portfolio-card-->
				</div><!-- col-lg-4 col-md-4 -->
			</div><!-- row -->
			<div class="row">
				<div class="col-lg-12">
					<div class="blog-pagination-outer">
						<div class="blog-pagination">
								<a class="prev page-numbers" href="#"><b><i class="fa-solid fa-chevron-left"></i></b></a>
								<span class="page-numbers current"><b>01</b></span>
								<a class="page-numbers" href="#"><b>02</b></a>
								<a class="page-numbers" href="#"><b>03</b></a>
								<a class="page-numbers" href="#"><b>04</b></a>
								<a class="next page-numbers" href="#"><b><i class="fa-solid fa-chevron-right"></i></b></a>
						</div>
					</div>
				</div>	
			</div>					
		</div><!--container-->	
</section>
