@page
@model NDDC_Website_2024.Pages.WhoWeAre.MaasterPlanModel
@{
}

<section class="page-banner">
	<div class="container">
		<div class="page-breadcrumbs">
			<ul class="list-unstyled">
				<li><a href="/index">Home</a></li>
				<li>Our Master Plan</li>
			</ul><!-- list-unstyled -->
		</div><!-- page-breadcrumbs -->
		<div class="page-banner-title">
			<h3>Our Master Plan</h3>
		</div><!-- page-banner-title -->
	</div><!-- container -->			
</section>
	<section class="department-details-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="department-details-imgbox">
						<img src="~/assets/image/department/plan-1.png" class="img-fluid" alt="img-159">
						<a href="#"></a>
						<div class="department-details-img-icon">
							<i class="flaticon-landscape"></i>
						</div><!-- department-details-img-icon -->
					</div><!-- department-details-imgbox -->
					<div class="department-details-content-box">
						<h4 class="department-details-title">THE REGIONAL DEVELOPMENT <br /> MASTER PLAN</h4>
						<p>There have been many attempts and many plans made in the past to improve the lives of the people of the Niger Delta Region of Nigeria. Sadly, each ended with very little to show for the time and resources spent. Therefore, it is understandable that the people of the Niger Delta are quite disillusioned with ‘plans’ at this time. The disenchantment of the people notwithstanding, it must be stated that the Niger Delta Master Plan is different in its goals, focus and approach, and will not suffer the fate of the others before it. </p>
					</div><!-- department-details-content-box -->
					<div class="department-details-box">
						<div class="department-details-policy">
							<span>We aspire for the Niger Delta Region to collectively realize its shared vision and shape its future according to the standards it envisions.</span><!-- span -->
						</div><!-- department-details-policy -->
						<p>The Master Plan is basically conceived as a tool that the millions of people of the Niger Delta Region can use to actualize their common vision and build their future to the standard they desire. The Master Plan is designed to offer stakeholders at all levels (individual, group and community) the opportunity to participate fully in the planning and decision-making process. specifically, the coordinating consultants require the ideas and opinions of stakeholders as basis for defining focus areas for development and for producing a vivid picture of what the people want the Niger Delta region to look like within 15 years of the master plan implementation. This implies that the input of stakeholders today is what will determine the state of affairs (both for individuals and communities) in the region tomorrow.</p>
					</div><!-- department-details-box -->
					@*<div class="department-details-benefits-inner-box">
						<div class="row row-gutter-30">
							<div class="col-lg-6">
								<div class="department-details-benefits-box-image">
									<img src="~/assets/image/department/plan-2.png" class="img-fluid" alt="160">
								</div><!-- department-details-benefits-box-image -->
							</div><!--col-lg-6-->
						</div><!-- row -->
					</div><!-- department-details-benefits-inner-box -->*@
					@*<div class="department-details-law-box">
						<h4>Europeon Government Law:</h4>
						<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur iste natus error sit voluptatem accusantium totam rem aperiam, eaque ipsa quae.</p>
					</div><!-- department-details-law-box -->
					<div class="department-details-skill-box">
						<div class="row">
							<div class="col-12 col-lg-6">
								<div class="service-one-card">
									<div class="service-one-icon">
										<a href="#"><i class="flaticon-education"></i></a>
									</div><!-- service-one-icon -->
									<div class="service-one-card-content">
										<h4><a href="service-details.html">Women and Youth employment</a></h4>
										<p>When nothing prevents our being able to we like best every.</p>
									</div><!-- service-one-card-content -->
								</div><!--service-one-card-->
							</div><!--col-12 col-lg-4-->
							<div class="col-12 col-lg-6">
								<div class="service-one-card">
									<div class="service-one-icon">
										<a href="#"><i class="flaticon-public-transport-1"></i></a>
									</div><!-- service-one-icon -->
									<div class="service-one-card-content">
										<h4><a href="service-details.html">Roads &amp; Transportation</a></h4>
										<p>When nothing prevents our being able to we like best every.</p>
									</div><!-- service-one-card-content -->
								</div><!--service-one-card-->
							</div><!-- col-12 col-lg-6 -->
						</div><!-- row -->
					</div><!-- service-one-inner -->*@
				</div><!-- col-lg-8 -->
				<div class="col-12 col-lg-4 col-xl-4">
					<div class="sidebar">
						<div class="d-flex gap-2">
							<div class="sidebar-widget-list-inner">
								<ul>
									<li><p class="p-4">Demography</p></li>
									<li><p class="p-4">Environment and hydrology</p></li>
									<li><p class="p-4">Agriculture and Food</p></li>
									<li><p class="p-4"> Agriculture and aquaculture (with focus on economic activities)</p></li>
									<li><p class="p-4">Biodiversity</p></li>
									<li><p class="p-4">Transport (infrastructure)</p></li>
									<li><p class="p-4"> Rural, urban, regional planning and housing</p></li>@*
									<li><p class="p-4">Community Development</p></li>
									<li><p class="p-4">Governance and capacity development</p></li>
									<li><p class="p-4">Health</p></li>
									<li><p class="p-4">Small and medium enterprises</p></li>
									<li><p class="p-4">Water supply</p></li>*@
									
									
								</ul><!-- ul -->
							</div><!-- sidebar-widget-list-inner -->
							<div class="sidebar-widget-list-inner">
								<ul>
									<li><p class="p-4"> Energy (electricity)</p></li>
									<li><p class="p-4"> Telecommunication</p></li>
									<li><p class="p-4"> Vocational training (with focus on employment generation)</p></li>
									<li><p class="p-4"> Waste management and sanitation</p></li>
									<li><p class="p-4"> Large-scale industry</p></li>
									<li><p class="p-4"> Solid minerals</p></li>
									<li><p class="p-4"> Tourism</p></li>
									<li><p class="p-4"> Social welfare</p></li>@*
									<li><p class="p-4"> Arts, Sports and Culture</p></li>
									<li><p class="p-4"> Women and Youth employment</p></li>
									<li><p class="p-4"> Conflict prevention</p></li>
									<li><p class="p-4"> Financial instruments and access</p></li>
									<li><p class="p-4"> Investment promotion</p></li>*@

								</ul><!-- ul -->
							</div><!-- sidebar-widget-list-inner -->
						</div>
					</div><!--sidebar-->
				</div><!--col-12 col-lg-4 col-xl-4-->
				
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- department-details-section -->