@page
@model NDDC_Website_2024.Pages.WhoWeAre.VisionModel
@{
}

<section class="header-img" style="background-image: url(/assets/image/bg/about-3.jpg);">
    <div class="container">
		<nav class="" style="--bs-breadcrumb-divider: '>'; top: 0px; right: 40px; position: absolute; " aria-label="breadcrumb">
			<ol class="bg-white breadcrumb justify-content-end px-4 pt-2 mb-0" style="--bs-bg-opacity: .5;">
				<li class="breadcrumb-item text-light"><a href="/index" class="text-light">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Who We Are</li>
            </ol>
        </nav>
		<div class="page-breadcrumbs">
			<ul class="list-unstyled">
				<li><a href="/index">Home</a></li>
				<li>Who We Are</li>
			</ul><!-- list-unstyled -->
		</div><!-- page-breadcrumbs -->
		<div class="page-banner-title">
			<h3>Who We Are</h3>
		</div><!-- page-banner-title -->
	</div><!-- container -->			
</section>
<section class="mayor-section py-5">
	<div class="container-fluid container-xxl">
        <div class="row px-lg-5">
            <div class="col-md-4">
				<h3 class="py-3 text-success border-2 border-success border-bottom">Mission</h3>
				<div class="card border-0">
					<img src="/assets/image/bg/mision.png" height="200" class="card-img-top" alt="...">
					<div class="card-body p-4 py-5" style="background-color: #003b4912;">
						<p class="card-text text-dark values">To offer a lasting solution to the socio-economic difficulties in the Niger Delta region.</p>
						</div>
					</div>
				</div>
			<div class="col-md-4">
				<h3 class="py-3 text-success border-2 border-success border-bottom">Vision</h3>
				<div class="card border-0">
					<img src="/assets/image/bg/mission-1.png" height="200" class="card-img-top" alt="...">
					<div class="card-body p-4 py-5" style="background-color: #003b4912;">
						<p class="card-text text-dark values">To facilitate the rapid and sustainable development of the Niger Delta into a region that is economically prosperous, socially stable, ecologically regenerative and and politically peaceful.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<h3 class="py-3 text-success border-2 border-success border-bottom">Values</h3>
				<div class="card border-0">
					<img src="/assets/image/bg/core-values.jpg" height="200" class="card-img-top" alt="...">
					<div class="card-body p-4 py-5" style="background-color: #003b4912;">
						<p class="card-text text-dark values">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>
			</div>

				@* <div class="col-lg-6">
					<div class="mayor-box">
						<div class="section-title-box">
							<div class="section-tagline">The Journey</div><!-- section-tagline -->
							<h3 class="section-title">Who We Are</h3>
						</div><!--section-title-box-->
						<div class="mayor-icon-box align-items-center">
							<div class="mayor-icon">
								<i class="flaticon-parthenon"></i>
							</div><!-- mayor-icon -->
							<h3 class="mayor-icon-title">NDDC's Mission And Vision</h3>
						</div><!--mayor-icon-box-->
						<ul class="list-unstyled list-style-one">
							<li class="align-items-baseline">
								<i class="fa-solid fa-circle-check"></i>
								<p>To offer a lasting solution to the socio-economic difficulties in the Niger Delta region.</p>
							</li><!-- li -->
							<li class="align-items-baseline">
								<i class="fa-solid fa-circle-check "></i>
								<p>To facilitate the rapid and sustainable development of the Niger Delta into a region that is economically prosperous, socially stable, ecologically regenerative and and politically peaceful.</p>
							</li><!-- li -->
							@*<li>
								<i class="fa-solid fa-circle-check"></i>
								<p>If you are going to use a passage</p>
							</li><!-- li -->
						</ul><!-- ul -->
					</><!--mayor-box-->
				</div><!-- col-lg-6 -->
				<div class="col-lg-6">
					<div class="mayor-img">
						<img src="~/assets/image/shapes/shape-1.png" class="floated-image-one" alt="img-137">
						<img src="~/assets/image/bg/mission-2.png" alt="img-138">
						@*<div class="mayor-name">
							<h6>Construction Of Amaogoke - Ezeoke Nsu-Nzerim Ikpe-Isiokwe Road</h6>
						</div><!-- mayor-name -->
					</div><!--mayor-img-->
				</div><!--col-lg-6"--> *@
			</div><!-- row -->
		</div><!-- container -->
	</section>
<section class="mayor-section pt-5">
	<div class="container">
		<div class="row">
			<div class="col-md-7 px-5 pt-4 pb-3 p-lg-5" style="background-color: azure;">
                <h3>Sustainable Development</h3>
				<p class="fw-semibold text-secondary">Creating a future where the delta's natural resources are preserved for future generations, while also improving the quality of life for its residents. This will require commitment, collaboration, and innovative solutions that the NDDC is willing and ready to achieve.</p>
            </div>
			<div class="col-md-5 px-0">
				<img src="/assets/image/bg/mission-2.png" height="350" class="card-img-top p-0" alt="...">
			</div>
        </div>
		<div class="row">
			<div class="col-md-7 px-0">
				<img src="/assets/image/bg/project.png" height="350" class="card-img-top p-0" alt="...">
            </div>
			<div class="col-md-5 px-5 pt-4 pb-3 p-lg-5" style="background-color: azure;">
                <h3>Project Management</h3>
				<p class="fw-semibold text-secondary">Quality Management that provides methodical planning with agile execution, empowering teams to deliver high-quality outcomes while maximizing efficiency and minimizing disruptions.</p>
            </div>
        </div>
	</div>
</section>
	@* <section class="causes-section">
		<div class="container">
			<div class="row row-gutter-30">
				<div class="section-title-box">
					<div class="section-tagline">The Solution</div><!-- section-tagline -->
					<h1 class="">Aligning our vision with projects</h1>
				</div><!--section-title-box-->
				<div class="col-lg-6 col-xl-4">
					<div class="causes-card ">
						<div class="vision-card-imgbox">
							<img src="~/assets/image/causes/solution-1.png" class="img-fluid" alt="img-117">
						</div><!-- vision-card-imgbox -->
						<div class="causes-content p-4">
							<h4 class="mt-1"> <a href="cause-details.html">Renovation Of Staff Quarters And Access Road At Cps Port Harcourt, Rivers State</a> </h4>
							<p>Buildings Sector</p>
							<a href="cause-details.html" class="btn btn-primary mt-0">Details</a>
						</div><!-- causes-content -->
					</div><!-- causes-card -->
				</div><!-- col-lg-6 col-xl-4 -->
				<div class="col-lg-6 col-xl-4">
					<div class="causes-card ">
						<div class="vision-card-imgbox">
							<img src="~/assets/image/causes/solution-2.png" class="img-fluid" alt="img-118">
						</div><!-- vision-card-imgbox -->
						<div class="causes-content p-4">
							<h4 class="mt-1"> <a href="cause-details.html">Dredging/Desilting Of Obano-Okposha Oguta Lake Waterway (Lot 2), Imo State</a> </h4>
							<p>Dredging Sector</p>
							<a href="cause-details.html" class="btn btn-primary mt-0">Details</a>
						</div><!-- causes-content -->
					</div><!-- causes-card -->
				</div><!-- col-lg-6 col-xl-4 -->
				<div class="col-lg-6 col-xl-4">
					<div class="causes-card ">
						<div class="vision-card-imgbox">
							<img src="~/assets/image/causes/solution-3.png" class="img-fluid" alt="img-119">
						</div><!-- vision-card-imgbox -->
						<div class="causes-content p-4">
							<h4 class="mt-1"> <a href="cause-details.html">Extension Of 3 Spans Of 132Kv Line And 2 X 30Mva 132/133Kv Transmission Substation At Oghara, Delta State</a> </h4>
							<p>Electricity Sector</p>
							<a href="cause-details.html" class="btn btn-primary mt-0">Details</a>
						</div><!-- causes-content -->
					</div><!-- causes-card -->
				</div><!-- col-lg-6 col-xl-4 -->
				
				
			</div><!-- row -->
			@*<div class="row">
				<div class="col-lg-12">
					<div class="blog-pagination-outer">
						<div class="blog-pagination">
								<a class="prev page-numbers" href="#"><b><i class="fa-solid fa-chevron-left"></i></b></a>
								<span class="page-numbers current"><b>01</b></span>
								<a class="page-numbers" href="#"><b>02</b></a>
								<a class="page-numbers" href="#"><b>03</b></a>
								<a class="page-numbers" href="#"><b>04</b></a>
								<a class="next page-numbers" href="#"><b><i class="fa-solid fa-chevron-right"></i></b></a>
						</div>
					</div>
				</div>	
			</div>	
		</div><!-- container -->
	</section> *@