<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>NDDC - Official Website</title>

	<meta name="description" content="To facilitate the rapid & sustainable development of the Niger Delta into a region that is economically prosperous.">

	<meta property="og:url" content="https://nddc.gov.ng">
	<link rel="canonical" href="https://nddc.gov.ng">
	<meta property="og:title" content="NDDC - Offical Website">
	<meta property="og:description" content="The Official Website of the NDDC">

	<!-- Square image with the main content in the middle at 2:1 ratio -->
	<meta property="og:image" content="~/assets/image/NDDC.jpeg">
	<meta property="og:image:alt" content="NDDC Headquaters">
	<meta property="og:locale" content="en_US">
	<meta property="og:type" content="website"> <!-- other options: article and video.movie -->
	<meta name="twitter:card" content="summary_large_image"> <!--other option: summary-->
    
	<!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&amp;display=swap" rel="stylesheet">
    
	<!-- plugins css -->
    @* <link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap/bootstrap.min.css"> *@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="assets/vendor/reey-font/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/font-awesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="assets/vendor/animate/animate.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/flaticon/css/flaticon_towngov.css">
    <link rel="stylesheet" type="text/css" href="assets/vendor/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="assets/vendor/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/vendor/youtube-popup/youtube-popup.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/image/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/image/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/image/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/image/favicons/site.webmanifest">

</head>
@* <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NDDC_Website_2024</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NDDC_Website_2024.styles.css" asp-append-version="true" />
</head> *@
<body>
    @* <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">NDDC_Website_2024</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header> *@

	<header class="header">
		<div class="topbar">
			<div class="topbar-inner">
				<div class="topbar-left">
					<div class="topbar-socials">
						<a href="#"><i class="fa-brands fa-twitter"></i></a>
						<a href="#"><i class="fa-brands fa-facebook"></i></a>
						<a href="#"><i class="fa-brands fa-linkedin"></i></a>
						<a href="#"><i class="fa-brands fa-instagram"></i></a>
					</div><!--topbar-socials-->
					<div class="topbar-info">
						<ul>
							<li>
								<div class="topbar-text-div fw-bold">
									<span>Breaking News</span>
								</div><!-- topbar-text -->
							</li><!-- li -->
							<li>
							<div class="topbar-text-div">	
							<span class="fs-4 fw-lighter">|</span>
							</div>
							</li>
							<li>
								<div class="topbar-text-div">
									<a href="index.html">NDDC Inaugurates Aquaculture Centre in Abia, Advances...</a>
								</div><!-- topbar-text -->
							</li><!-- li -->
						</ul><!-- ul -->
					</div><!--topbar-info-->
				</div><!-- topbar-left -->
				<div class="topbar-left">
					<div class="topbar-info">
						<ul>
							<li>
								<div class="topbar-icon">
									<i class="fa-solid fa-envelope"></i>
								</div><!-- topbar-icon -->
								<div class="topbar-text">
									<a href="mailto:needhelp@company.com">info@nddc.gov.ng</a>
								</div><!-- topbar-text -->
							</li><!-- li -->
							<li>
								<div class="topbar-icon">
									<i class="fa-solid fa-clock"></i>
								</div><!-- topbar-icon -->
								<div class="topbar-text">
									<span>Open Hours: Mon - Fri 8.00 am - 5.00 pm</span>
								</div><!-- topbar-text -->
							</li><!-- li -->
						</ul><!-- ul -->
					</div><!--topbar-info-->
					@*<ul>
						<li><a href="department-details.html">About Us</a></li>
						<li><a href="departments.html">Government</a></li>
						<li><a href="contact.html">Complaints</a></li>
					</ul><!-- ul -->*@
				</div><!--topbar-right-->
			</div><!-- topbar-inner -->
		</div><!--topbar-->
		<div class="main-menu sticky-header">
			<div class="main-menu-inner">
				<div class="main-menu-left">
					<div class="main-menu-logo">
						<a href="index.html"><img src="~/assets/image/NDDCNewLogo.jpg" alt="img-1" width="190"></a>
					</div><!-- main-menu-logo -->
					<div class="navigation">
						<ul class="main-menu-list list-unstyled">
							<li class="active">
								<a href="/index">Home</a>
								@* <ul class="list-unstyled">
									<li><a href="index.html">Home 1</a></li>
									<li><a href="index-2.html">Home 2</a></li>
								</ul> *@<!-- list-unstyled -->
							</li><!-- has-dropdown -->
							<li class="has-dropdown">
								<a href="#">Who We Are</a>
								<ul class="list-unstyled">
									<li><a href="/WhoWeAre/Vision">Our Vision and Mission</a></li>
									<li><a href="/WhoWeAre/MasterPlan">Our Master Plan</a></li>
									<li><a href="/WhoWeAre/Board">Our Board</a></li>
									<li><a href="/WhoWeAre/ManagementStaff">Our Management Staff</a></li>
								</ul><!-- list-unstyled -->
							</li><!-- has-dropdown -->
							<li class="has-dropdown">
								<a href="#">What We Do</a>
								<ul class="list-unstyled">
									<li><a href="/WhatWeDo/Projects">Transformational Projects</a></li>
									<li><a href="/WhatWeDo/Programs">Impactful Programs</a></li>
								</ul><!-- list-unstyled -->
							</li><!-- has-dropdown -->
							<li class="has-dropdown">
								<a href="#">News</a>
								<ul class="list-unstyled">
									<li><a href="/News/News">All News</a></li>
									<li><a href="~/News/Updates">Updates</a></li>
									<li><a href="/News/Publications">Publications</a></li>
								</ul><!-- list-unstyled -->
							</li><!-- has-dropdown -->
							<li class="has-dropdown">
								<a href="#">Media</a>
								<ul class="list-unstyled">
									<li><a href="/Media/PhotoAlbum">Photo Album</a></li>
									<li><a href="/Media/Videos">Videos</a></li>
									<li><a href="/Media/Sights">Sights And Icons</a></li>
								</ul><!-- list-unstyled -->
							</li><!-- has-dropdown -->
							
							<li>
								<a href="/Contact">Contact</a>
							</li><!-- li -->
						</ul><!-- main-menu-list -->
					</div><!-- navigation -->
				</div><!-- main-menu-left -->
				<div class="main-menu-right">
					<div class="mobile-menu-button mobile-nav-toggler">
						<span></span>
						<span></span>
						<span></span>
					</div><!-- mobile-menu-button -->
					@*<div class="search-box">
						<a href="#" class="search-toggler">
							<i class="flaticon-search-interface-symbol"></i>
						</a><!-- search-toggler -->
					</div><!-- search-box -->*@
					<div class="main-menu-right-button">
						<a href="contact.html" class="btn btn-primary">SERVICOM</a>
					</div><!-- main-menu-right-button -->
				</div><!-- main-menu-right -->
			</div><!-- main-menu-inner -->
		</div><!-- main-menu -->
	</header>
	<div class="page-wrapper">
		@RenderBody()
		
	</div>
   @*  <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div> *@

	<section class="footer">
		<div class="footer-inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="footer-widget-logo">
							@* <a href="index.html"><img src="assets/image/logo-light.png" class="img-fluid" alt="img-25"></a> *@
						</div><!-- footer-widget-logo -->
						<div class="footer-widget-text">
							<p>NDDC VISION: “To offer a lasting solution to the socio-economic difficulties of the Niger Delta region.”</p>
						</div><!-- footer-widget-text -->
						<div class="footer-widget-socials">
							<a href="#"><i class="fa-brands fa-twitter"></i></a>
							<a href="#"><i class="fa-brands fa-facebook"></i></a>
							<a href="#"><i class="fa-brands fa-linkedin"></i></a>
							<a href="#"><i class="fa-brands fa-instagram"></i></a>
						</div><!-- footer-widget-socials -->
					</div><!--col-lg-4-->
					<div class="col-lg-3">
						<div class="footer-widget">
							<div class="footer-widget-explore">
								<h4 class="footer-widget-title">Explore</h4>
								<ul class="list-unstyled">
									<li><a href="department-details.html">Our Mission and Vision</a></li>
									<li><a href="service-details.html">Our Projects</a></li>
									<li><a href="event-details.html">Our Programs</a></li>
									<li><a href="team-details.html">Our People</a></li>
									<li><a href="contact.html">Our Land</a></li>
								</ul><!-- list-unstyled -->
							</div><!-- footer-widget-explore -->
						</div><!--footer-widget-->
					</div><!--col-lg-3-->
					<div class="col-lg-2">
						<div class="footer-widget">
							<div class="footer-widget-department">
								@* <h4 class="footer-widget-title">Departments</h4>
								<ul class="list-unstyled">
									<li><a href="department-details.html">Health &amp; Safety</a></li>
									<li><a href="department-details.html">Housing &amp; Land</a></li>
									<li><a href="department-details.html">Legal &amp; Finance</a></li>
									<li><a href="department-details.html">Transport &amp; Traffic</a></li>
									<li><a href="department-details.html">Arts &amp; Culture</a></li>
								</ul> *@<!-- list-unstyled -->
							</div><!-- footer-widget-department -->
						</div><!--footer-widget-->
					</div><!--col-lg-2-->
					<div class="col-lg-3">
						<div class="footer-widget">
							<div class="footer-widget-contact">
								<h4 class="footer-widget-title">Contact</h4>
								<p>Eastern Bypass Marine Base,<br>Port Harcourt. Rivers State</p>
							</div><!-- footer-widget-contact -->
							<div class="footer-widget-contact-list">
								<i class="fa-solid fa-envelope"></i>
								<div class="footer-widget-contact-item">
									<a href="mailto:info@nddc.gov.ng">info@nddc.gov.ng</a>
								</div><!-- footer-widget-contact-item -->
							</div><!-- footer-widget-contact-list -->
							<div class="footer-widget-contact-list">
								<i class="fa-solid fa-phone"></i>
								<div class="footer-widget-contact-item">
									<a href="tel:+234-003-68-090">+92 (003) 68-090</a>
								</div><!-- footer-widget-contact-item -->
							</div><!-- footer-widget-contact-list -->
						</div><!--footer-widget-->
					</div><!--col-lg-3-->
				</div><!-- row -->
			</div><!-- container -->
		</div><!--footer-inner-->
		<div class="bottom-footer">
			<div class="conatiner">
				<p>© Copyright 2023 Niger Delta Development Commisson</p>
			</div><!-- container -->
		</div><!--bottom-footer-->
	</section>
    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - NDDC_Website_2024 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer> *@

	<div class="mobile-nav-wrapper">
		<div class="mobile-nav-overlay mobile-nav-toggler"></div><!-- mobile-nav-overlay -->
		<div class="mobile-nav-content">
			<a href="#" class="mobile-nav-close mobile-nav-toggler">
				<span></span>
				<span></span>
			</a><!-- mobile-nav-close -->
			@* <div class="logo-box">
				<a href="index.html"><img src="assets/image/logo-light.png" width="160" height="40" alt="26"></a>
			</div> *@<!-- logo-box -->
			<div class="mobile-nav-container">
				<ul class="main-menu-list list-unstyled">
					<li class="active has-dropdown">
						<a href="#">Home<button><i class="fa-solid fa-chevron-right"></i></button></a>
						<ul class="list-unstyled">
							<li><a href="index.html">Home 1</a></li>
							<li><a href="index-2.html">Home 2</a></li>
						</ul><!-- list-unstyled -->
					</li><!-- has-dropdown -->
					<li class="has-dropdown">
						<a href="#">Pages<button><i class="fa-solid fa-chevron-right"></i></button></a>
						<ul class="list-unstyled">
							<li><a href="about.html">About</a></li>
							<li><a href="team.html">Team</a></li>
							<li><a href="team-details.html">Team Details</a></li>
							<li><a href="portfolio.html">Portfolio</a></li>
							<li><a href="portfolio-details.html">Portfolio Details</a></li>
							<li><a href="causes.html">Causes</a></li>
							<li><a href="cause-details.html">Cause Details</a></li>
						</ul><!-- list-unstyled -->
					</li><!-- has-dropdown -->
					<li class="has-dropdown">
						<a href="#">Services<button><i class="fa-solid fa-chevron-right"></i></button></a>
						<ul class="list-unstyled">
							<li><a href="services.html">Services</a></li>
							<li><a href="service-details.html">Service Details</a></li>
						</ul><!-- list-unstyled -->
					</li><!-- has-dropdown -->
					<li class="has-dropdown">
						<a href="#">Departments<button><i class="fa-solid fa-chevron-right"></i></button></a>
						<ul class="list-unstyled">
							<li><a href="departments.html">Departments</a></li>
							<li><a href="department-details.html">Department Details</a></li>
						</ul><!-- list-unstyled -->
					</li><!-- has-dropdown -->
					<li class="has-dropdown">
						<a href="#">Events<button><i class="fa-solid fa-chevron-right"></i></button></a>
						<ul class="list-unstyled">
							<li><a href="events.html">Events</a></li>
							<li><a href="event-details.html">Event Details</a></li>
						</ul><!-- list-unstyled -->
					</li><!-- has-dropdown -->
					<li class="has-dropdown">
						<a href="#">News<button><i class="fa-solid fa-chevron-right"></i></button></a>
						<ul class="list-unstyled">
							<li><a href="news.html">News</a></li>
							<li><a href="news-details.html">News Details</a></li>
						</ul><!-- list-unstyled -->
					</li><!-- has-dropdown -->
					<li>
						<a href="contact.html">Contact</a>
					</li><!-- li -->
				</ul>
			</div><!-- mobile-nav-container -->
			<ul class="mobile-nav-contact list-unstyled">
				<li>
					<i class="fa-solid fa-phone"></i>
					<a href="tel:+8898006802">+ 88 ( 9800 ) 6802</a>
				</li><!-- li -->
				<li>
					<i class="fa-solid fa-envelope"></i>
					<a href="mailto:needhelp@company.com">needhelp@company.com</a>
				</li><!-- li -->
				<li>
					<i class="fa-solid fa-map-marker-alt"></i>
					Eastern Bypass Marine Base <br> Port Harcourt. Rivers State
				</li><!-- li -->
			</ul><!-- mobile-nav-contact -->
			<ul class="mobile-nav-social list-unstyled">
				<li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
				<li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
			</ul><!-- mobile-nav-social -->
		</div><!-- mobile-nav-content -->
	</div>

	<div class="search-popup">
		<div class="search-popup-overlay search-toggler"></div><!-- search-popup-overlay -->
		<div class="search-popup-content">
			<form action="#">
				<label for="search" class="sr-only">search here</label><!-- sr-only -->
				<input type="text" id="search" placeholder="Search Here...">
				<button type="submit" aria-label="search submit" class="search-btn">
					<span><i class="flaticon-search-interface-symbol"></i></span>
				</button><!-- search-btn -->
			</form><!-- form -->
		</div><!-- search-popup-content -->
	</div>

	@*<a href="#" class="scroll-to-top scroll-to-target" data-target="html" style=""><i class="fa-solid fa-arrow-up"></i></a>
*@	
	<button class="btn bot-button text-center" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fa-solid fa-robot align-self-center me-2"></i>NDDC Chat Bot</button>

	<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
		<div class="offcanvas-header">
			<h5 class="offcanvas-title" id="offcanvasRightLabel"> NDDC ChatBot</h5>
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
			<iframe src="https://web.powerva.microsoft.com/environments/Default-f2b10c06-4bd1-4c9c-b500-f2541e79aa92/bots/cr7c8_nddcAi/webchat?_version_=2" frameborder="0" style="width: 100%; height: 100%;"></iframe>
			</div>
	</div>
	
	
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
	<script src="assets/vendor/jquery/jquery.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
	<script src="assets/vendor/owl-carousel/owl.carousel.min.js"></script>
	<script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
	<script src="assets/vendor/counter-up/jquery.counterup.min.js"></script>
	<script src="assets/vendor/youtube-popup/youtube-popup.jquery.js"></script>
	<script src="assets/vendor/jquery-validation/jquery.validate.min.js"></script>
	<script src="assets/js/theme.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>