@page
@model NDDC_Website_2024.Pages.Services.ProjectDatabase.IndexModel
@{
}

<section class="page-banner">
    <div class="container">
        <div class="page-banner-title pb-4">
            <h1 class="text-white mb-3 lh-sm text-center">Discover Our Projects</h1>
        </div><!-- page-banner-title -->
        <div class="container col-lg-10 col-xxl-12">
            <form class="row g-0 text-white mb-3 lh-sm bg-white py-4 text-center justify-content-center align-items-center">
                <div class="col-auto col-md-4 col-lg-5 bg-light">
                    <label for="staticEmail2" class="visually-hidden">Name</label>
                    <input type="text" class="form-control bg-light" id="staticEmail2" placeholder="Enter Project Name">
                </div>
                <div class="col-auto col-md-3 bg-light">
                    <select class="form-control form-select bg-light" aria-label="Location" id="location">
                        <option selected>Choose Location</option>
                        <option value="1">NDDC Ongoing Project</option>
                        <option value="2">NDDC Abandoned Project</option>
                        <option value="3">Poor Project Quality</option>
                        <option value="4">Incompetent Contractor</option>
                        <option value="5">NDDC Employee</option>
                        <option value="6">NDDC Program</option>
                        <option value="7">Other</option>
                    </select>
                </div>
                <div class="col-auto col-md-4 col-lg-3 bg-light">
                    <select class="form-control form-select bg-light" aria-label="Project Type" id="location">
                        <option selected>Choose Project Type</option>
                        <option value="1">NDDC Ongoing Project</option>
                        <option value="2">NDDC Abandoned Project</option>
                        <option value="3">Poor Project Quality</option>
                        <option value="4">Incompetent Contractor</option>
                        <option value="5">NDDC Employee</option>
                        <option value="6">NDDC Program</option>
                        <option value="7">Other</option>
                    </select>
                </div>
                <div class="col-auto pt-lg-0">
                    <button type="submit" class="btn btn-primary px-2"><i class="flaticon-search-interface-symbol"></i></button>
                </div>
            </form>
        </div>

        

    </div><!-- container -->
</section>
<section class="service-one-section pt-3 pb-5">
    <div class="container">
        @* <div class="section-title-box text-center mb-0">
            <h2 class="section-title">Projects By Category </h2>
        </div>
        <!-- section-title-box --> *@

        <div class="row row-gutter-30">
            <div class="col-lg-3">
                <div class="team-card">
                    <!-- team-card-img -->
                    <div class="team-card-content">
                        <h4 class="fs-3"><a class="text-success" href="/Services/ProjectDatabase/Category"> Road/Bridges</a></h4>
                        <p>2,773</p>
                        <a href="/Services/ProjectDatabase/Category" class="text-success fw-bold">View Insight</a>
                    </div><!-- team-card-content -->
                    <div class="team-card-bottom"></div>
                </div>
            </div><!--col-lg-6 col-xl-4-->
            <div class="col-lg-3">
                <div class="team-card">
                    <!-- team-card-img -->
                    <div class="team-card-content">
                        <h4 class="fs-3"><a class="text-success" href="/Services/ProjectDatabase/Category">  Desilting</a></h4>
                        <p>2,773</p>
                        <a href="/Services/ProjectDatabase/Category" class="text-success fw-bold">View Insight</a>
                    </div><!-- service-one-card-content -->
                    <div class="team-card-bottom"></div>
                </div><!--service-one-card-->
            </div><!--col-lg-6 col-xl-4-->
            <div class="col-lg-3">
                <div class="team-card">
                    <!-- team-card-img -->
                    <div class="team-card-content">
                        <h4 class="fs-3"><a class="text-success" href="/Services/ProjectDatabase/Category">  Water Supply</a></h4>
                        <p>2,773</p>
                        <a href="/Services/ProjectDatabase/Category" class="text-success fw-bold">View Insight</a>
                    </div><!-- service-one-card-content -->
                    <div class="team-card-bottom"></div>
                </div><!--service-one-card-->
            </div><!--col-lg-6 col-xl-4-->
            <div class="col-lg-3">
                <div class="team-card">
                    <!-- team-card-img -->
                    <div class="team-card-content">
                        <h4 class="fs-3">
                            <a class="text-success" href="/Services/ProjectDatabase/Category">  Buildings</a>
                        </h4>
                        <p>2,773</p>
                        <a href="/Services/ProjectDatabase/Category" class="text-success fw-bold">View Insight</a>
                    </div><!-- service-one-card-content -->
                    <div class="team-card-bottom"></div>
                </div><!--service-one-card-->
            </div><!--col-lg-6 col-xl-4-->

        </div><!-- row -->
    </div><!-- container -->
</section>
<section class="department-details-section p-0">
    <div class="container">
        <div class="row  d-flex align-items-center justify-content-center">
            <div class="col-md-10">
                <div id="chart"></div>
            </div>
        </div>
    </div>
</section>
<section class="blog-section">
    <div class="container">
        <div class="blog-box">
            <h4 class="section-title text-center mb-0">Recent Projects</h4>

            <div class="container py-5">
                <div class="">
                    <div class="sidebar">
                        <div class="sidebar-widget-list-inner">
                            <ul class="row row-gutter-30 col-12 gap-5 justify-content-center">
                                <li class="col-5 mt-0 ">
                                    <a href="/Services/ProjectDatabase/Category" class="p-4 pb-0 d-block">
                                        <h4>
                                            Solar Powered Water Project At Amavo Osisioma Ngwa Lga, Abia State
                                        </h4>
                                        <p>Project Location: Osisioma Ngwa in Abia State</p>
                                        <p>Project Category: Water Supply.</p>
                                        <i class="fa-solid fa-arrow-right-long"></i><span class="ps-2">Learn More</span>
                                    </a>
                                </li>
                                <li class="col-5 mt-0 ">
                                    <a href="/Services/ProjectDatabase/Category" class="p-4 pb-0 d-block">
                                        <h4>
                                            Solar Powered Water Project At Amavo Osisioma Ngwa Lga, Abia State
                                        </h4>
                                        <p>Project Location: Osisioma Ngwa in Abia State</p>
                                        <p>Project Category: Water Supply.</p>
                                        <i class="fa-solid fa-arrow-right-long"></i><span class="ps-2">Learn More</span>
                                    </a>
                                </li>
                                <li class="col-5 mt-0 ">
                                    <a href="/Services/ProjectDatabase/Category" class="p-4 pb-0 d-block">
                                        <h4>
                                            Solar Powered Water Project At Amavo Osisioma Ngwa Lga, Abia State
                                        </h4>
                                        <p>Project Location: Osisioma Ngwa in Abia State</p>
                                        <p>Project Category: Water Supply.</p>
                                        <i class="fa-solid fa-arrow-right-long"></i><span class="ps-2">Learn More</span>
                                    </a>
                                </li>
                                <li class="col-5 mt-0 ">
                                    <a href="/Services/ProjectDatabase/Category" class="p-4 pb-0 d-block">
                                        <h4>
                                            Solar Powered Water Project At Amavo Osisioma Ngwa Lga, Abia State
                                        </h4>
                                        <p>Project Location: Osisioma Ngwa in Abia State</p>
                                        <p>Project Category: Water Supply.</p>
                                        <i class="fa-solid fa-arrow-right-long"></i><span class="ps-2">Learn More</span>
                                    </a>
                                </li>
                            </ul><!-- ul -->
                        </div><!-- sidebar-widget-list-inner -->

                    </div>
                </div>

            </div>
        </div>
    </div>

</section>
<section class="department-details-section bg-dark">
    <div class="container">
        <div class="section-title-box text-center">
            <h2 class="section-title pt-4 mb-0 text-white">Projects By State </h2>
        </div>
        <div class="row pt-5 d-flex align-items-center justify-content-center">
            
            <div class="col-lg-6">
                <div class="team-card" style="height: 31rem;">
                    <div class="col-md-10">
                        <div id="chart-2"></div>
                    </div>
                    <!-- service-one-card-content -->
                </div>
            </div>
            <div class="col-lg-6">
            <div class="row row-gutter-30">
                <div class="col-xl">
                    <a class="service-one-card p-4 d-block" href="/Services/ProjectDatabase/StateDetails">
                        <div class="service-one-card-content">
                            <h3 class="fs-2">3,120</h3>
                            <h5>Abia</h5>
                        </div><!-- service-one-card-content -->
                    </a><!--service-one-card-->
                </div><!--col-lg-6 col-xl-4-->
                <div class="col-xl">
                    <a class="service-one-card p-4 d-block" href="/Services/ProjectDatabase/StateDetails">
                        <div class="service-one-card-content">
                            <h3 class ="fs-2">3,120</h3>
                            <h5>Akwa Ibom</h5>
                        </div><!-- service-one-card-content -->
                    </a><!--service-one-card-->
                </div><!--col-lg-6 col-xl-4-->
                <div class="col-xl">
                    <a class="service-one-card p-4 d-block" href="/Services/ProjectDatabase/StateDetails">
                        <div class="service-one-card-content">
                            <h3 class="fs-2">3,120</h3>
                            <h5>Bayelsa</h5>
                        </div><!-- service-one-card-content -->
                    </a><!--service-one-card-->
                </div><!--col-lg-6 col-xl-4-->
                <div class="col-xl">
                    <a class="service-one-card p-4 d-block" href="/Services/ProjectDatabase/StateDetails">
                        <div class="service-one-card-content">
                            <h3 class="fs-2">3,120</h3>
                            <h5>Cross Rivers</h5>
                        </div><!-- service-one-card-content -->
                    </a><!--service-one-card-->
                </div><!--col-lg-6 col-xl-4-->
                <div class="col-xl">
                    <a class="service-one-card p-4 d-block" href="/Services/ProjectDatabase/StateDetails">
                        <div class="service-one-card-content">
                            <h3 class="fs-2">3,120</h3>
                            <h5>Delta</h5>
                        </div><!-- service-one-card-content -->
                    </a><!--service-one-card-->
                </div><!--col-lg-6 col-xl-4-->
                    <div class="col-xl">
                        <a class="service-one-card p-4 d-block" href="/Services/ProjectDatabase/StateDetails">
                            <div class="service-one-card-content">
                                <h3 class="fs-2">3,120</h3>
                                <h5>Edo</h5>
                            </div><!-- service-one-card-content -->
                        </a><!--service-one-card-->
                    </div><!--col-lg-6 col-xl-4-->
                    <div class="col-xl">
                        <a class="service-one-card p-4 d-block" href="/Services/ProjectDatabase/StateDetails">
                            <div class="service-one-card-content">
                                <h3 class="fs-2">3,120</h3>
                                <h5>Imo</h5>
                            </div><!-- service-one-card-content -->
                        </a><!--service-one-card-->
                    </div><!--col-lg-6 col-xl-4-->
                    <div class="col-xl">
                        <a class="service-one-card p-4 d-block" href="/Services/ProjectDatabase/StateDetails">
                            <div class="service-one-card-content">
                                <h3 class="fs-2">3,120</h3>
                                <h5>Ondo</h5>
                            </div><!-- service-one-card-content -->
                        </a><!--service-one-card-->
                    </div><!--col-lg-6 col-xl-4-->
                    <div class="col-xl">
                        <a class="service-one-card p-4 d-block" href="/Services/ProjectDatabase/StateDetails">
                            <div class="service-one-card-content">
                                <h3 class="fs-2">3,120</h3>
                                <h5>Rivers</h5>
                            </div><!-- service-one-card-content -->
                        </a><!--service-one-card-->
                    </div><!--col-lg-6 col-xl-4-->
                    @*  <div class="col-xl">
                       <a class="service-one-card p-4 d-block" href="/Services/ProjectDatabase/StateDetails">
                            <div class="service-one-card-content">
                                <h3 class="fs-2">3,120</h3>
                                <h4>Regional</h4>
                            </div><!-- service-one-card-content -->
                        </a><!--service-one-card-->
                    </div><!--col-lg-6 col-xl-4--> *@
                </div>
            </div>
        </div>
    </div>
</section>
                        


<section class="blog-section">
    <div class="container">
        <div class="blog-box">
            <h4 class="section-title text-center mb-0">Most Viewed Projects</h4>

            <div class="container row py-5">
                <div class="accordion accordion-flush col-lg-6" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">

                                Emergency Repairs Of Failed Portions Of Ikot-Ekpene-Aba Road (Section 1),Abia/Akwa Ibom States
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p><span class="fw-bold">Project location: </span> Ikot Ekpene in Akwa Ibom State</p>
                                <p><span class="fw-bold">Project Type: </span> Roads/Bridges</p>
                                <p><span class="fw-bold">Project Status: </span> CC</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                Construction Of 1Km Okporoemyi Across Road At Bende In Abia State
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p><span class="fw-bold">Project location: </span> Bende, Abia in Abia State</p>
                                <p><span class="fw-bold">Project Type: </span> Roads/Bridges</p>
                                <p><span class="fw-bold">Project Status: </span> Ongoing</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                Construction Of Ozoro Township Road, At Isoko North Lga, Delta State
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p><span class="fw-bold">Project location: </span> Isoko North in Delta State</p>
                                <p><span class="fw-bold">Project Type: </span> Roads/Bridges</p>
                                <p><span class="fw-bold">Project Status: </span> New Award</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="team-card h-100" style="background: url(/assets/image/bg/pmis-1.png) no-repeat; background-position: bottom;">
                        <!-- team-card-img --><div>
                            <div class="blog-card-date" style="background-color: #107c10; top: 85px; right: 90px;">
                                <a href="news-details.html">The Niger Delta</a>
                            </div>
                        </div>
                        <!-- service-one-card-content -->
                    </div>
                    @* <div class="team-card h-100">
                    <!-- team-card-img -->
                    <div class="team-card-content">
                    <h4 class="fs-3">
                    <a href="/Services/ProjectDatabase/Category">  Buildings</a>
                    </h4>
                    <p>2,773</p>
                    <a href="/Services/ProjectDatabase/Category" class="text-success fw-bold">View Insight</a>
                    </div><!-- service-one-card-content -->
                    </div><!--service-one-card--> *@
                </div>
            </div>
        </div>
    </div>


</section>

<section class="blog-section">
    <div class="container">
        <div class="blog-box">
            <h4 class="section-title text-center mb-0">Most Impacted LGA's</h4>

            <div class="container table-responsive py-5">
                <table class="table table-hover">
                    <thead class="shadow border border-success">
                        <tr class="text-success fs-5">
                            <th scope="col">S/N</th>
                            <th scope="col">LGA</th>
                            <th scope="col">State</th>
                            <th scope="col">N0. Of Projects</th>
                        </tr>
                    </thead>
                    <tbody class="text-opacity-25" style="border: white;">
                        <tr class="shadow-sm bg-body-tertiary rounded">
                            <th scope="row">1</th>
                            <td>Recent Project</td>
                            <td>Rivers</td>
                            <td>Road</td>
                        </tr>
                        <tr class="shadow-sm bg-body-tertiary rounded">
                            <th scope="row">2</th>
                            <td>Recent Project</td>
                            <td>Abia</td>
                            <td>Road</td>
                        </tr>
                        <tr class="shadow-sm bg-body-tertiary rounded">
                            <th scope="row">3</th>
                            <td>Recent Project</td>
                            <td>Bayelsa</td>
                            <td>Road</td>
                        </tr>
                        <tr class="shadow-sm bg-body-tertiary rounded">
                            <th scope="row">4</th>
                            <td>Recent Project</td>
                            <td>Bayelsa</td>
                            <td>Road</td>
                        </tr>
                        <tr class="shadow-sm bg-body-tertiary rounded">
                            <th scope="row">5</th>
                            <td>Recent Project</td>
                            <td>Bayelsa</td>
                            <td>Road</td>
                        </tr>
                        <tr class="shadow-sm bg-body-tertiary rounded">
                            <th scope="row">6</th>
                            <td>Recent Project</td>
                            <td>Bayelsa</td>
                            <td>Road</td>
                        </tr>
                        <tr class="shadow-sm bg-body-tertiary rounded">
                            <th scope="row">7</th>
                            <td>Recent Project</td>
                            <td>Bayelsa</td>
                            <td>Road</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>
@* 
<section class="blog-section">
    <div class="container">
        <div class="blog-box">
            <h4 class="section-title text-center mb-0">Most Viewed Projects</h4>

            <div class="container table-responsive py-5">
                <table class="table table-hover">
                    <thead class="shadow border border-success">
                        <tr class="text-success fs-5">
                            <th scope="col">S/N</th>
                            <th scope="col">Project Title</th>
                            <th scope="col">State</th>
                            <th scope="col">LGA</th>
                            <th scope="col">Views</th>
                        </tr>
                    </thead>
                    <tbody class="text-opacity-25" style="border: white;">
                        <tr class="shadow-sm bg-body-tertiary rounded">
                            <th scope="row">1</th>
                            <td>Recent Project</td>
                            <td>Rivers</td>
                            <td>Road</td>
                        </tr>
                        <tr class="shadow-sm bg-body-tertiary rounded">
                            <th scope="row">2</th>
                            <td>Recent Project</td>
                            <td>Abia</td>
                            <td>Road</td>
                        </tr>
                        <tr class="shadow-sm bg-body-tertiary rounded">
                            <th scope="row">3</th>
                            <td>Recent Project</td>
                            <td>Bayelsa</td>
                            <td>Road</td>
                        </tr>
                        <tr class="shadow-sm bg-body-tertiary rounded">
                            <th scope="row">4</th>
                            <td>Recent Project</td>
                            <td>Bayelsa</td>
                            <td>Road</td>
                        </tr>
                        <tr class="shadow-sm bg-body-tertiary rounded">
                            <th scope="row">5</th>
                            <td>Recent Project</td>
                            <td>Bayelsa</td>
                            <td>Road</td>
                        </tr>
                        <tr class="shadow-sm bg-body-tertiary rounded">
                            <th scope="row">6</th>
                            <td>Recent Project</td>
                            <td>Bayelsa</td>
                            <td>Road</td>
                        </tr>
                        <tr class="shadow-sm bg-body-tertiary rounded">
                            <th scope="row">7</th>
                            <td>Recent Project</td>
                            <td>Bayelsa</td>
                            <td>Road</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section> *@



@* <section class="department-details-section">
    <div class="container">
        <div class="row  d-flex align-items-center justify-content-center">
            <div class="col-md-10">
                <div id="chart"></div>
            </div>
            <div class="pt-5 gap-3 row justify-content-center">
                <div class="department-two-textbox position-relative">
                    <div class="position-absolute top-50 start-50  translate-middle">
                        <h5 class="mb-0 py-1">Abia</h5>
                        <p class="text-white mb-3 lh-sm">127 projects</p>  <h5><a href="/Services/ProjectDatabase/StateDetails" class="text-success fw-bold">View</a></h5>
                    </div>
                </div>

                <div class="department-two-textbox position-relative">
                    <div class="position-absolute top-50 start-50  translate-middle">
                        <h5 class="mb-0 py-1">Akwa Ibom</h5>
                        <p class="text-white mb-3 lh-sm">127 projects</p>  <h5><a href="/Services/ProjectDatabase/StateDetails" class="text-success fw-bold">View</a></h5>
                    </div>
                </div>

                <div class="department-two-textbox position-relative">
                    <div class="position-absolute top-50 start-50  translate-middle">
                        <h5 class="mb-0 py-1">Bayelsa</h5>
                        <p class="text-white mb-3 lh-sm">127 projects</p>  <h5><a href="/Services/ProjectDatabase/StateDetails" class="text-success fw-bold">View</a></h5>
                    </div>
                </div>

                <div class="department-two-textbox position-relative">
                    <div class="position-absolute top-50 start-50  translate-middle">
                        <h5 class="mb-0 py-1">Cross Rivers</h5>
                        <p class="text-white mb-3 lh-sm">127 projects</p>  <h5><a href="/Services/ProjectDatabase/StateDetails" class="text-success fw-bold">View</a></h5>
                    </div>
                </div>

                <div class="department-two-textbox position-relative">
                    <div class="position-absolute top-50 start-50  translate-middle">
                        <h5 class="mb-0 py-1">Delta</h5>
                        <p class="text-white mb-3 lh-sm">127 projects</p>  <h5><a href="/Services/ProjectDatabase/StateDetails" class="text-success fw-bold">View</a></h5>
                    </div>
                </div>

                <div class="department-two-textbox position-relative">
                    <div class="position-absolute top-50 start-50  translate-middle">
                        <h5 class="mb-0 py-1">Edo</h5>
                        <p class="text-white mb-3 lh-sm">127 projects</p>  <h5><a href="/Services/ProjectDatabase/StateDetails" class="text-success fw-bold">View</a></h5>
                    </div>
                </div>

                <div class="department-two-textbox position-relative">
                    <div class="position-absolute top-50 start-50  translate-middle">
                        <h5 class="mb-0 py-1">Imo</h5>
                        <p class="text-white mb-3 lh-sm">127 projects</p>  <h5><a href="/Services/ProjectDatabase/StateDetails" class="text-success fw-bold">View</a></h5>
                    </div>
                </div>

                <div class="department-two-textbox position-relative">
                    <div class="position-absolute top-50 start-50  translate-middle">
                        <h5 class="mb-0 py-1">Ondo</h5>
                        <p class="text-white mb-3 lh-sm">127 projects</p>  <h5><a href="/Services/ProjectDatabase/StateDetails" class="text-success fw-bold">View</a></h5>
                    </div>
                </div>

                <div class="department-two-textbox position-relative">
                    <div class="position-absolute top-50 start-50  translate-middle">
                        <h5 class="mb-0 py-1">Rivers</h5>
                        <p class="text-white mb-3 lh-sm">127 projects</p>  <h5><a href="/Services/ProjectDatabase/StateDetails" class="text-success fw-bold">View</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> *@

<script type="text/javascript">
    var options = {
        series: [{
            name: 'Net Profit',
            data: [44, 55, 57, 56, 61, 58, 63, 60, 66]
        }, {
            name: 'Revenue',
            data: [76, 85, 101, 98, 87, 105, 91, 114, 94]
        }, {
            name: 'Free Cash Flow',
            data: [35, 41, 36, 26, 45, 48, 52, 53, 41]
        }],
        chart: {
            type: 'bar',
            height: 350
        },
        plotOptions: {
            bar: {
                horizontal: false,
                columnWidth: '55%',
                endingShape: 'rounded'
            },
        },
        dataLabels: {
            enabled: false
        },
        stroke: {
            show: true,
            width: 2,
            colors: ['transparent']
        },
        xaxis: {
            categories: ['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008'],
        },
        yaxis: {
            title: {
                text: '$ (thousands)'
            }
        },
        fill: {
            opacity: 1
        },
        tooltip: {
            y: {
                formatter: function (val) {
                    return "$ " + val + " thousands"
                }
            }
        }
    };

    var chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();


    var options = {
        series: [
            {
                data: [
                    {
                        x: '2008',
                        y: [2800, 4500]
                    },
                    {
                        x: '2009',
                        y: [3200, 4100]
                    },
                    {
                        x: '2010',
                        y: [2950, 7800]
                    },
                    {
                        x: '2011',
                        y: [3000, 4600]
                    },
                    {
                        x: '2012',
                        y: [3500, 4100]
                    },
                    {
                        x: '2013',
                        y: [4500, 6500]
                    },
                    {
                        x: '2014',
                        y: [4100, 5600]
                    }
                ]
            }
        ],
        chart: {
            height: 350,
            type: 'rangeBar',
            zoom: {
                enabled: false
            }
        },
        plotOptions: {
            bar: {
                isDumbbell: true,
                columnWidth: 3,
                dumbbellColors: [['#008FFB', '#00E396']]
            }
        },
        legend: {
            show: true,
            showForSingleSeries: true,
            position: 'top',
            horizontalAlign: 'left',
            customLegendItems: ['Product A', 'Product B']
        },
        fill: {
            type: 'gradient',
            gradient: {
                type: 'vertical',
                gradientToColors: ['#00E396'],
                inverseColors: true,
                stops: [0, 100]
            }
        },
        grid: {
            xaxis: {
                lines: {
                    show: true
                }
            },
            yaxis: {
                lines: {
                    show: false
                }
            }
        },
        xaxis: {
            tickPlacement: 'on'
        }
    };

    var chart = new ApexCharts(document.querySelector("#chart-2"), options);
    chart.render();



</script>
<script src="/js/LineChart.js"></script>


@* <script type="text/javascript">
    const myChart = document.getElementById('myChart');

    new Chart(myChart, {
        type: 'bar',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    }); 
</script>

<script type="text/javascript">
    const myChart2 = document.getElementById('myChart2');

    new Chart(myChart2, {
        type: 'doughnut',
        data: {
            labels: [
                'Red',
                'Blue',
                'Yellow'
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [300, 50, 100],
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]
        });
</script> *@




