@page
@model NDDC_Website_2024.Pages.Services.IReports.IndexModel
@{
}
<section class="announce mb-5">
	<div class="container">
		<div class="page-breadcrumbs">
			<ul class="list-unstyled">
				<li><a href="/index">Services</a></li>
				<li>iReports</li>
			</ul><!-- list-unstyled -->
		</div><!-- page-breadcrumbs -->
		<div class="page-banner-title">
			<h3>iReport (Power)</h3>
		</div><!-- page-banner-title -->
	</div><!-- container -->
</section>


<section class="blog-section">
	<div class="container">
		<div class="blog-box lh-lg">
			<h1 class="mb-5 fs-2">What is iReport (Power)</h1>
			<h5 class="text-dark fw-normal pb-4">
				The iReport (Power - Project Operations Warning and Early Response) System is an adaptable mechanism tailored
				to effectively prevent and mitigate various project delivery failures and incidents that can prevent projects from
				reaching their desired and required standardization from the NDDC.
			</h5>
			<h5 class="text-dark fw-normal">The iReport  system airs at enhancing project capabilities in the following areas:</h5>
			<ul class="lh-lg">
				<li class="text-dark fw-normal"><span class="text-dark fw-bold">Monitors and Reporting:</span> <br /> Efficiently identify and transmit potential risks in ongoing projects.</li>
				<li class="text-dark fw-normal"> <span class="text-dark fw-bold">Incident Management and Verification:</span> <br /> Prioritize and Validate Information from Field monitors.</li>
				<li class="text-dark fw-normal"> <span class="text-dark fw-bold">Co-ordinated Response:</span> <br /> Facilitate multi-stakeholder preventive actions and instant responses.</li>
				<li class="text-dark fw-normal"> <span class="text-dark fw-bold">Data Analysis And Reporting:</span> <br /> Assessing data trends for status and public database.</li>
			</ul>
			<div class="cta-five-button">
				<a href="/Services/IReports/SendIreport" class="btn btn-primary align-items-center justify-content-center">Send <i class="fa-solid fa-info rounded p-2 mx-2 bg-success"></i> Report</a>
			</div>
		</div>
	</div>
</section>

<section class="service-one-section">
	<div class="container">
		<h1 class="mb-5 fs-3">Recent iReports</h1>
		<div class="row row-gutter-30">
			<div class="card border-0">
				<div class="card-body bg-light rounded-4 p-3">
					<div class="d-flex position-relative align-items-center justify-content-between">
						<div class="d-flex position-relative">
							<div>
								<p class="mb-0">Report Type: NDDC Ongoing Project</p>
								<p class="">Tolofari Dagogo • Rivers State</p>
								<h5 class="mt-0">
									<a a="" class="text-reset">
										The NDDC Managing Director/CEO, Inspected the Rivers State ICT Center.
									</a>
								</h5>
								
								<a class="text-success" href="/Home/NewsPhotoGallery/AllNewsPhotos/50">Read more</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card border-0">
				<div class="card-body bg-light rounded-4 p-3">
					<div class="d-flex position-relative align-items-center justify-content-between">
						<div class="d-flex position-relative">
							<div>
								<p class="mb-0">Report Type: NDDC Ongoing Project</p>
								<p class="">Tolofari Dagogo • Rivers State</p>
								<h5 class="mt-0">
									<a a="" class="text-reset">
										The NDDC Managing Director/CEO, Inspected the Rivers State ICT Center.
									</a>
								</h5>
								
								<a class="text-success" href="/Home/NewsPhotoGallery/AllNewsPhotos/50">Read more</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card border-0">
				<div class="card-body bg-light rounded-4 p-3">
					<div class="d-flex position-relative align-items-center justify-content-between">
						<div class="d-flex position-relative">
							<div>
								<p class="mb-0">Report Type: NDDC Ongoing Project</p>
								<p class="">Tolofari Dagogo • Rivers State</p>
								<h5 class="mt-0">
									<a a="" class="text-reset">
										The NDDC Managing Director/CEO, Inspected the Rivers State ICT Center.
									</a>
								</h5>
								
								<a class="text-success" href="/Home/NewsPhotoGallery/AllNewsPhotos/50">Read more</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card border-0">
				<div class="card-body bg-light rounded-4 p-3">
					<div class="d-flex position-relative align-items-center justify-content-between">
						<div class="d-flex position-relative">
							<div>
								<p class="mb-0">Report Type: NDDC Ongoing Project</p>
								<p class="">Tolofari Dagogo • Rivers State</p>
								<h5 class="mt-0">
									<a a="" class="text-reset">
										The NDDC Managing Director/CEO, Inspected the Rivers State ICT Center.
									</a>
								</h5>
								
								<a class="text-success" href="/Home/NewsPhotoGallery/AllNewsPhotos/50">Read more</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card border-0">
				<div class="card-body bg-light rounded-4 p-3">
					<div class="d-flex position-relative align-items-center justify-content-between">
						<div class="d-flex position-relative">
							<div>
								<p class="mb-0">Report Type: NDDC Ongoing Project</p>
								<p class="">Tolofari Dagogo • Rivers State</p>
								<h5 class="mt-0">
									<a a="" class="text-reset">
										The NDDC Managing Director/CEO, Inspected the Rivers State ICT Center.
									</a>
								</h5>
								
								<a class="text-success" href="/Home/NewsPhotoGallery/AllNewsPhotos/50">Read more</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card border-0">
				<div class="card-body bg-light rounded-4 p-3">
					<div class="d-flex position-relative align-items-center justify-content-between">
						<div class="d-flex position-relative">
							<div>
								<p class="mb-0">Report Type: NDDC Ongoing Project</p>
								<p class="">Tolofari Dagogo • Rivers State</p>
								<h5 class="mt-0">
									<a a="" class="text-reset">
										The NDDC Managing Director/CEO, Inspected the Rivers State ICT Center.
									</a>
								</h5>
								
								<a class="text-success" href="/Home/NewsPhotoGallery/AllNewsPhotos/50">Read more</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card border-0">
				<div class="card-body bg-light rounded-4 p-3">
					<div class="d-flex position-relative align-items-center justify-content-between">
						<div class="d-flex position-relative">
							<div>
								<p class="mb-0">Report Type: NDDC Ongoing Project</p>
								<p class="">Tolofari Dagogo • Rivers State</p>
								<h5 class="mt-0">
									<a a="" class="text-reset">
										The NDDC Managing Director/CEO, Inspected the Rivers State ICT Center.
									</a>
								</h5>
								
								<a class="text-success" href="/Home/NewsPhotoGallery/AllNewsPhotos/50">Read more</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			

		</div><!-- row -->
	</div><!-- container -->
</section>