@page
@model NDDC_Website_2024.Pages.Services.IReports.IndexModel
@{
}
<section class="page-banner">
	<div class="container">
		<div class="page-breadcrumbs">
			<ul class="list-unstyled">
				<li><a href="/index">Home</a></li>
				<li>iReports</li>
			</ul><!-- list-unstyled -->
		</div><!-- page-breadcrumbs -->
		<div class="page-banner-title">
			<h3>iReport (Power)</h3>
		</div><!-- page-banner-title -->
	</div><!-- container -->
</section>


<section class="blog-section">
	<div class="container">
		<div class="blog-box lh-lg">
			<h1 class="section-title text-center">What is iReport (Power)</h1>
			<h5 class="text-dark fw-normal pb-4">
				The iReport (Power - Project Operations Warning and Early Response) System is an adaptable mechanism tailored
				to effectively prevent and mitigate various project delivery failures and incidents that can prevent projects from
				reaching their desired and required standardization from the NDDC.
			</h5>
			<h5 class="text-dark fw-normal">The iReport  system airs at enhancing project capabilities in the following areas:</h5>
			<ul class="lh-lg">
				<li class="text-dark fw-normal"><span class="text-dark fw-bold">Monitors and Reporting:</span> <br /> Efficiently identify and transmit potential risks in ongoing projects.</li>
				<li class="text-dark fw-normal"> <span class="text-dark fw-bold">Incident Management and Verification:</span> <br /> Prioritize and Validate Information from Field monitors.</li>
				<li class="text-dark fw-normal"> <span class="text-dark fw-bold">Co-ordinated Response:</span> <br /> Facilitate multi-stakeholder preventive actions and instant responses.</li>
				<li class="text-dark fw-normal"> <span class="text-dark fw-bold">Data Analysis And Reporting:</span> <br /> Assessing data trends for status and public database.</li>
			</ul>
			<div class="cta-five-button text-center">
				<a href="/Services/IReports/SendIreport" class="btn btn-primary align-items-center justify-content-center">Send <i class="fa-solid fa-info rounded p-2 mx-2 bg-success"></i> Report</a>
			</div>
		</div>
	</div>
</section>

<section class="service-one-section">
	<div class="container">
		<div class="row row-gutter-30">
			<div class="col-lg-6 col-xl-4">
				<div class="service-one-card height">
					<div class="service-one-card-content">
						<h4><a href="service-details.html">U.S. Responds to COVID-19</a></h4>
						<p>
							As the global COVID-19 pandemic persists,
							USAID programs continue virtually as staff continue to work from home.
						</p>
					</div><!-- service-one-card-content -->
				</div><!--service-one-card-->
			</div><!--col-lg-6 col-xl-4-->
			<div class="col-lg-6 col-xl-4">
				<div class="service-one-card height">
					<div class="service-one-card-content">
						<h4><a href="service-details.html">U.S. Responds to COVID-19</a></h4>
						<p>
							As the global COVID-19 pandemic persists,
							USAID programs continue virtually as staff continue to work from home.
						</p>
					</div><!-- service-one-card-content -->
				</div><!--service-one-card-->
			</div><!--col-lg-6 col-xl-4-->
			<div class="col-lg-6 col-xl-4">
				<div class="service-one-card height">
					<div class="service-one-card-content">
						<h4><a href="service-details.html">U.S. Responds to COVID-19</a></h4>
						<p>
							As the global COVID-19 pandemic persists,
							USAID programs continue virtually as staff continue to work from home.
						</p>
					</div><!-- service-one-card-content -->
				</div><!--service-one-card-->
			</div><!--col-lg-6 col-xl-4-->
			<div class="col-lg-6 col-xl-4">
				<div class="service-one-card height">
					<div class="service-one-card-content">
						<h4><a href="service-details.html">U.S. Responds to COVID-19</a></h4>
						<p>
							As the global COVID-19 pandemic persists,
							USAID programs continue virtually as staff continue to work from home.
						</p>
					</div><!-- service-one-card-content -->
				</div><!--service-one-card-->
			</div><!--col-lg-6 col-xl-4-->
			<div class="col-lg-6 col-xl-4">
				<div class="service-one-card height">
					<div class="service-one-card-content">
						<h4><a href="service-details.html">U.S. Responds to COVID-19</a></h4>
						<p>
							As the global COVID-19 pandemic persists,
							USAID programs continue virtually as staff continue to work from home.
						</p>
					</div><!-- service-one-card-content -->
				</div><!--service-one-card-->
			</div><!--col-lg-6 col-xl-4-->
			<div class="col-lg-6 col-xl-4">
				<div class="service-one-card height">
					<div class="service-one-card-content">
						<h4><a href="service-details">U.S. Responds to COVID-19</a></h4>
						<p>
							As the global COVID-19 pandemic persists,
							USAID programs continue virtually as staff continue to work from home.
						</p>
					</div><!-- service-one-card-content -->
				</div><!--service-one-card-->
			</div><!--col-lg-6 col-xl-4-->
		</div><!-- row -->
	</div><!-- container -->
</section>