@page
@model NDDC_Website_2024.Pages.Services.IReports.SendIreportModel
@{
}

<section class="blog-section">
    <div class="container">
        <div class="blog-box lh-lg">
            <h1 class="section-title text-center">Send iReport</h1>
            <row class="d-flex justify-content-center">
                <div class="col-lg-8">
                    <form action="assets/inc/sendemail.php" class="contact-form  contact-form-validated" method="post" novalidate="novalidate">
                        <div class="row row-gutter-10">
                            <div class="col-12 col-lg-12">
                                <label for="floatingInput" class="fs-6 ps-4 pb-2 text-dark">Report Type</label>
                                <div class="input-group form-floating mb-3 d-flex align-items-center">
                                    <select class="form-select input-text" aria-label="Select what you want to report on">
                                        <option value="1">NDDC Ongoing Project</option>
                                        <option value="2">NDDC Abandoned Project</option>
                                        <option value="3">Poor Project Quality</option>
                                        <option value="4">Incompetent Contractor</option>
                                        <option value="5">NDDC Employee</option>
                                        <option value="6">NDDC Program</option>
                                        <option value="7">Other</option>
                                    </select>

                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <input type="text" id="name" class="input-text" placeholder="Your name" name="name" aria-required="true">
                            </div><!-- col-12 col-lg-6 -->
                            <div class="col-12 col-lg-6">
                                <input type="email" id="email" class="input-text" placeholder="Email address" name="email" aria-required="true">
                            </div><!-- col-12 col-lg-6 -->
                            <div class="col-12 col-lg-6">
                                <input type="text" id="phone" class="input-text" placeholder="Phone number" name="phone" aria-required="true">
                            </div><!-- col-12 col-lg-6 -->
                            <div class="col-12 col-lg-6">
                                <input type="text" id="location" class="input-text" placeholder="Location" name="Location" aria-required="true">
                            </div><!-- col-12 col-lg-6 -->
                            <div class="col-12 col-lg-12">
                                <label for="floatingInput" class="fs-6 ps-4 pb-2 text-dark">Upload Photos</label>
                                <div class="input-text form-floating mb-3 d-flex align-items-center">
                                    <input type="file" id="Photos" class="" placeholder="Upload Photos" name="Photos" aria-required="true">
                                </div>
                            </div>
                            <div class="col-12 col-lg-12">
                                <label for="floatingInput" class="fs-6 ps-4 pb-2 text-dark">Upload Videos</label>
                                <div class="input-text form-floating mb-3 d-flex align-items-center">
                                    <input type="file" id="Videos" class="" placeholder="Upload Videos" name="Videos" aria-required="true">
                                </div>
                            </div>
                            <div class="col-12 col-lg-12">
                                <textarea name="message" placeholder="Enter Your Comment" class="input-text" aria-required="true"></textarea>
                            </div><!-- col-12 col-lg-12 -->
                            <div class="col-12 col-lg-12 d-flex justify-content-center">
                                <button class="btn btn-primary">Send a Message</button>
                            </div><!-- col-12 col-lg-12 -->
                        </div><!-- row -->
                    </form><!-- contact-form -->
                </div><!-- col-lg-8 -->
            </row>

        </div>
    </div>
</section>