@page
@model NDDC_Website_2024.Pages.Services.IReports.SuccessModel
@{
}
<div class="">
    <div class=" fade show"  tabindex="-1" style="display: block;">
        <div class="">
            <div class="">
                <div class="text-center p-5">
                    <lord-icon src="https://cdn.lordicon.com/zpxybbhl.json" trigger="loop" colors="primary:#25a0e2,secondary:#00bd9d" style="width:150px;height:150px">
                    </lord-icon>
                    <div class="mt-4 pt-3">
                        <h4 class="mb-3">Success!</h4>
                        <p class="text-muted mb-4"> You Have Successfully Sent Your iReport.</p>
                        <div class="hstack gap-2 justify-content-center">
                            <!-- Toogle to first dialog, `data-bs-dismiss` attribute can be omitted - clicking on link will close dialog anyway -->
                            <a asp-page="Index" class="btn btn-primary">
                                Back to iReports
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>