@page
@model NDDC_Website_2024.Pages.Media.SightsModel
@{
}

@* <section class="page-banner mb-5">
	<div class="container">
		<div class="page-breadcrumbs">
			<ul class="list-unstyled">
				<li><a href="index.html">Home</a></li>
				<li>Sights And Icons</li>
			</ul><!-- list-unstyled -->
		</div><!-- page-breadcrumbs -->
		<div class="page-banner-title">
			<h3>Sights And Icons</h3>
		</div><!-- page-banner-title -->
	</div><!-- container -->			
</section><!--page-banner--> *@

<div class="portfolio-section">
		<div class="container">
		<div class="section-title-box text-center">
			<div class="section-tagline">Sights And Icons</div>
			<h2 class="section-title">Discover Our Sights And Icons</h2>
		</div>
			<div class="row row-gutter-30">
				<div class="col-12 col-lg-6 col-xl-6">
						<div class="event-card">
							<div class="event-card-image">
								<div class="event-card-image-inner">
									<a href="event-details.html"><img src="/assets/image/event/event-2.jpg" class="img-fluid" alt="img-164"></a>		
									<div class="event-card-meta">
										<div class="event-meta-number">
											<span>28</span>
										</div><!-- event-meta-number -->
										<div class="event-meta-date">
											<span>October 2022</span>
										</div><!-- event-meta-date -->
									</div><!-- event-card-meta -->
								</div><!-- event-card-image-inner -->
							</div><!--event-card-image-->
							<div class="event-card-content">
								<div class="event-card-info">
								</div><!--event-card-info-->
								<div class="event-card-title">
									<h4><a href="event-details.html">Title</a></h4>
									<p>Description</p>
									<p>Summary</p>
								</div><!-- event-card-title -->
							</div><!--event-card-content-->
						</div><!--event-card-->
				</div>
				<div class="col-12 col-lg-6 col-xl-6">
						<div class="event-card">
							<div class="event-card-image">
								<div class="event-card-image-inner">
									<a href="event-details.html"><img src="/assets/image/event/event-2.jpg" class="img-fluid" alt="img-164"></a>		
									<div class="event-card-meta">
										<div class="event-meta-number">
											<span>28</span>
										</div><!-- event-meta-number -->
										<div class="event-meta-date">
											<span>October 2022</span>
										</div><!-- event-meta-date -->
									</div><!-- event-card-meta -->
								</div><!-- event-card-image-inner -->
							</div><!--event-card-image-->
							<div class="event-card-content">
								<div class="event-card-info">
								</div><!--event-card-info-->
								<div class="event-card-title">
									<h4><a href="event-details.html">Title</a></h4>
									<p>Description</p>
									<p>Summary</p>
								</div><!-- event-card-title -->
							</div><!--event-card-content-->
						</div><!--event-card-->
				</div>
				<div class="col-12 col-lg-6 col-xl-6">
						<div class="event-card">
							<div class="event-card-image">
								<div class="event-card-image-inner">
									<a href="event-details.html"><img src="/assets/image/event/event-2.jpg" class="img-fluid" alt="img-164"></a>		
									<div class="event-card-meta">
										<div class="event-meta-number">
											<span>28</span>
										</div><!-- event-meta-number -->
										<div class="event-meta-date">
											<span>October 2022</span>
										</div><!-- event-meta-date -->
									</div><!-- event-card-meta -->
								</div><!-- event-card-image-inner -->
							</div><!--event-card-image-->
							<div class="event-card-content">
								<div class="event-card-info">
								</div><!--event-card-info-->
								<div class="event-card-title">
									<h4><a href="event-details.html">Title</a></h4>
									<p>Description</p>
									<p>Summary</p>
								</div><!-- event-card-title -->
							</div><!--event-card-content-->
						</div><!--event-card-->
				</div>
				<div class="col-12 col-lg-6 col-xl-6">
						<div class="event-card">
							<div class="event-card-image">
								<div class="event-card-image-inner">
									<a href="event-details.html"><img src="/assets/image/event/event-2.jpg" class="img-fluid" alt="img-164"></a>		
									<div class="event-card-meta">
										<div class="event-meta-number">
											<span>28</span>
										</div><!-- event-meta-number -->
										<div class="event-meta-date">
											<span>October 2022</span>
										</div><!-- event-meta-date -->
									</div><!-- event-card-meta -->
								</div><!-- event-card-image-inner -->
							</div><!--event-card-image-->
							<div class="event-card-content">
								<div class="event-card-info">
								</div><!--event-card-info-->
								<div class="event-card-title">
									<h4><a href="event-details.html">Title</a></h4>
									<p>Description</p>
									<p>Summary</p>
								</div><!-- event-card-title -->
							</div><!--event-card-content-->
						</div><!--event-card-->
				</div>
				<div class="col-12 col-lg-6 col-xl-6">
						<div class="event-card">
							<div class="event-card-image">
								<div class="event-card-image-inner">
									<a href="event-details.html"><img src="/assets/image/event/event-2.jpg" class="img-fluid" alt="img-164"></a>		
									<div class="event-card-meta">
										<div class="event-meta-number">
											<span>28</span>
										</div><!-- event-meta-number -->
										<div class="event-meta-date">
											<span>October 2022</span>
										</div><!-- event-meta-date -->
									</div><!-- event-card-meta -->
								</div><!-- event-card-image-inner -->
							</div><!--event-card-image-->
							<div class="event-card-content">
								<div class="event-card-info">
								</div><!--event-card-info-->
								<div class="event-card-title">
									<h4><a href="event-details.html">Title</a></h4>
									<p>Description</p>
									<p>Summary</p>
								</div><!-- event-card-title -->
							</div><!--event-card-content-->
						</div><!--event-card-->
				</div>
				<div class="col-12 col-lg-6 col-xl-6">
						<div class="event-card">
							<div class="event-card-image">
								<div class="event-card-image-inner">
									<a href="event-details.html"><img src="/assets/image/event/event-2.jpg" class="img-fluid" alt="img-164"></a>		
									<div class="event-card-meta">
										<div class="event-meta-number">
											<span>28</span>
										</div><!-- event-meta-number -->
										<div class="event-meta-date">
											<span>October 2022</span>
										</div><!-- event-meta-date -->
									</div><!-- event-card-meta -->
								</div><!-- event-card-image-inner -->
							</div><!--event-card-image-->
							<div class="event-card-content">
								<div class="event-card-info">
								</div><!--event-card-info-->
								<div class="event-card-title">
									<h4><a href="event-details.html">Title</a></h4>
									<p>Description</p>
									<p>Summary</p>
								</div><!-- event-card-title -->
							</div><!--event-card-content-->
						</div><!--event-card-->
				</div>
				<div class="col-12 col-lg-6 col-xl-6">
						<div class="event-card">
							<div class="event-card-image">
								<div class="event-card-image-inner">
									<a href="event-details.html"><img src="/assets/image/event/event-2.jpg" class="img-fluid" alt="img-164"></a>		
									<div class="event-card-meta">
										<div class="event-meta-number">
											<span>28</span>
										</div><!-- event-meta-number -->
										<div class="event-meta-date">
											<span>October 2022</span>
										</div><!-- event-meta-date -->
									</div><!-- event-card-meta -->
								</div><!-- event-card-image-inner -->
							</div><!--event-card-image-->
							<div class="event-card-content">
								<div class="event-card-info">
								</div><!--event-card-info-->
								<div class="event-card-title">
									<h4><a href="event-details.html">Title</a></h4>
									<p>Description</p>
									<p>Summary</p>
								</div><!-- event-card-title -->
							</div><!--event-card-content-->
						</div><!--event-card-->
				</div>
				<div class="col-12 col-lg-6 col-xl-6">
						<div class="event-card">
							<div class="event-card-image">
								<div class="event-card-image-inner">
									<a href="event-details.html"><img src="/assets/image/event/event-2.jpg" class="img-fluid" alt="img-164"></a>		
									<div class="event-card-meta">
										<div class="event-meta-number">
											<span>28</span>
										</div><!-- event-meta-number -->
										<div class="event-meta-date">
											<span>October 2022</span>
										</div><!-- event-meta-date -->
									</div><!-- event-card-meta -->
								</div><!-- event-card-image-inner -->
							</div><!--event-card-image-->
							<div class="event-card-content">
								<div class="event-card-info">
								</div><!--event-card-info-->
								<div class="event-card-title">
									<h4><a href="event-details.html">Title</a></h4>
									<p>Description</p>
									<p>Summary</p>
								</div><!-- event-card-title -->
							</div><!--event-card-content-->
						</div><!--event-card-->
				</div>
			</div><!-- row -->
			<div class="row">
				<div class="col-lg-12">
					<div class="blog-pagination-outer">
						<div class="blog-pagination">
								<a class="prev page-numbers" href="#"><b><i class="fa-solid fa-chevron-left"></i></b></a>
								<span class="page-numbers current"><b>01</b></span>
								<a class="page-numbers" href="#"><b>02</b></a>
								<a class="page-numbers" href="#"><b>03</b></a>
								<a class="page-numbers" href="#"><b>04</b></a>
								<a class="next page-numbers" href="#"><b><i class="fa-solid fa-chevron-right"></i></b></a>
						</div>
					</div>
				</div>	
			</div>					
		</div><!--container-->	
	</div>