@page
@model NDDC_Website_2024.Pages.Services.JobsModel
@{
}
<section class="announce mb-5">
		<div class="container">
			<div class="page-breadcrumbs">
				<ul class="list-unstyled">
					<li><a href="/index">Home</a></li>
					<li>Empowerment Programs</li>
				</ul><!-- list-unstyled -->
			</div><!-- page-breadcrumbs -->
			<div class="page-banner-title">
            <h3 class="fs-1">Empowerment Programs and Scholarships</h3>
			</div><!-- page-banner-title -->
		</div><!-- container -->			
</section>

<section class="service-one-section">
    <div class="container">
		<div class="section-title-box text-center">
			<div class="section-tagline"></div>
            <h1 class="mb-5">Empowerment Programs</h1>
		</div>
		<div class="row row-gutter-30">
			<div class="row row-gutter-30 table-responsive ">
				<table class="table table-hover table-lg">
                  <thead class="table-light">
                    <tr>
                      <th scope="col">S/N</th>
                      <th scope="col">Name</th>
                      <th scope="col">Skill</th>
                      <th scope="col">Program</th>
                      <th scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody class="table-group-divider">
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Engineering</td>
                      <td>Program</td>
                      <td class="d-flex justify-content-between" >Ongoing <button class="btn btn-primary p-2 ms-5 rounded">Enroll</button></td>
                    </tr>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Engineering</td>
                      <td>Program</td>
                      <td class="d-flex justify-content-between" >Ongoing <button class="btn btn-primary p-2 ms-5 rounded">Enroll</button></td>
                    </tr>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Engineering</td>
                      <td>Program</td>
                      <td class="d-flex justify-content-between" >Ongoing <button class="btn btn-primary p-2 ms-5 rounded">Enroll</button></td>
                    </tr>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Engineering</td>
                      <td>Program</td>
                      <td class="d-flex justify-content-between" >Ongoing <button class="btn btn-primary p-2 ms-5 rounded">Enroll</button></td>
                    </tr>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Engineering</td>
                      <td>Program</td>
                      <td class="d-flex justify-content-between" >Ongoing <button class="btn btn-primary p-2 ms-5 rounded">Enroll</button></td>
                    </tr>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Engineering</td>
                      <td>Program</td>
                      <td class="d-flex justify-content-between" >Ongoing <button class="btn btn-primary p-2 ms-5 rounded">Enroll</button></td>
                    </tr>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Engineering</td>
                      <td>Program</td>
                      <td class="d-flex justify-content-between" >Ongoing <button class="btn btn-primary p-2 ms-5 rounded">Enroll</button></td>
                    </tr>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Engineering</td>
                      <td>Program</td>
                      <td class="d-flex justify-content-between" >Ongoing <button class="btn btn-primary p-2 ms-5 rounded">Enroll</button></td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

