@page
@model NDDC_Website_2024.Pages.Services.TendersModel
@{
}
<section class="page-banner">
		<div class="container">
			<div class="page-breadcrumbs">
				<ul class="list-unstyled">
					<li><a href="/index">Home</a></li>
					<li>Tenders and RFPs</li>
				</ul><!-- list-unstyled -->
			</div><!-- page-breadcrumbs -->
			<div class="page-banner-title">
				<h3>Tenders and RFPs</h3>
			</div><!-- page-banner-title -->
		</div><!-- container -->			
</section>

<section class="service-one-section">
    <div class="container">
		<div class="section-title-box text-center">
			<div class="section-tagline"></div>
			<h2 class="section-title">Tenders and RFPs</h2>
		</div>
		<div class="row row-gutter-30">
			<div class="row row-gutter-30">
				<div class="department-details-benefits-inner-box col-lg-12 ">
					<div class="row row-gutter-30 align-items-center">
						<div class="col-lg-2">
							<div class="department-details-benefits-box-image">
								<div class="department-two-img-icon position-relative ">
									<a href="/News/Updates"><i class="flaticon-portfolio"></i></a>
								</div>
							</div><!-- department-details-benefits-box-image -->
						</div><!--col-lg-6-->
						<div class="col-lg-6">
							<div class="department-details-benefits-box">
								<h3>Jobs Title</h3>
								<p> Jobs Description: Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
							
							</div><!-- department-details-benefits-box -->
						</div><!-- col-lg-6 -->
					</div><!-- row -->
				</div>
				<div class="department-details-benefits-inner-box col-lg-12 ">
					<div class="row row-gutter-30 align-items-center">
						<div class="col-lg-2">
							<div class="department-details-benefits-box-image">
								<div class="department-two-img-icon position-relative ">
									<a href="/News/Updates"><i class="flaticon-portfolio"></i></a>
								</div>
							</div><!-- department-details-benefits-box-image -->
						</div><!--col-lg-6-->
						<div class="col-lg-6">
							<div class="department-details-benefits-box">
								<h3>Jobs Title</h3>
								<p> Jobs Description: Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
							
							</div><!-- department-details-benefits-box -->
						</div><!-- col-lg-6 -->
					</div><!-- row -->
				</div>
				<div class="department-details-benefits-inner-box col-lg-12 ">
					<div class="row row-gutter-30 align-items-center">
						<div class="col-lg-2">
							<div class="department-details-benefits-box-image">
								<div class="department-two-img-icon position-relative ">
									<a href="/News/Updates"><i class="flaticon-portfolio"></i></a>
								</div>
							</div><!-- department-details-benefits-box-image -->
						</div><!--col-lg-6-->
						<div class="col-lg-6">
							<div class="department-details-benefits-box">
								<h3>Jobs Title</h3>
								<p> Jobs Description: Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
							
							</div><!-- department-details-benefits-box -->
						</div><!-- col-lg-6 -->
					</div><!-- row -->
				</div>
				<div class="department-details-benefits-inner-box col-lg-12 ">
					<div class="row row-gutter-30 align-items-center">
						<div class="col-lg-2">
							<div class="department-details-benefits-box-image">
								<div class="department-two-img-icon position-relative ">
									<a href="/News/Updates"><i class="flaticon-portfolio"></i></a>
								</div>
							</div><!-- department-details-benefits-box-image -->
						</div><!--col-lg-6-->
						<div class="col-lg-6">
							<div class="department-details-benefits-box">
								<h3>Jobs Title</h3>
								<p> Jobs Description: Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
							
							</div><!-- department-details-benefits-box -->
						</div><!-- col-lg-6 -->
					</div><!-- row -->
				</div>

			</div>
		</div>
	</div>
</section>

<section class="service-one-section">
    <div class="container">
		<div class="section-title-box text-center">
			<div class="section-tagline"></div>
			<h2 class="section-title">RFPs</h2>
		</div>
		<div class="row row-gutter-30">
			<div class="row row-gutter-30">
				<div class="department-details-benefits-inner-box col-lg-12 ">
					<div class="row row-gutter-30 align-items-center">
						<div class="col-lg-2">
							<div class="department-details-benefits-box-image">
								<div class="department-two-img-icon position-relative ">
									<a href="/News/Updates"><i class="flaticon-portfolio"></i></a>
								</div>
							</div><!-- department-details-benefits-box-image -->
						</div><!--col-lg-6-->
						<div class="col-lg-6">
							<div class="department-details-benefits-box">
								<h3>Jobs Title</h3>
								<p> Jobs Description: Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
							
							</div><!-- department-details-benefits-box -->
						</div><!-- col-lg-6 -->
					</div><!-- row -->
				</div>
				<div class="department-details-benefits-inner-box col-lg-12 ">
					<div class="row row-gutter-30 align-items-center">
						<div class="col-lg-2">
							<div class="department-details-benefits-box-image">
								<div class="department-two-img-icon position-relative ">
									<a href="/News/Updates"><i class="flaticon-portfolio"></i></a>
								</div>
							</div><!-- department-details-benefits-box-image -->
						</div><!--col-lg-6-->
						<div class="col-lg-6">
							<div class="department-details-benefits-box">
								<h3>Jobs Title</h3>
								<p> Jobs Description: Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
							
							</div><!-- department-details-benefits-box -->
						</div><!-- col-lg-6 -->
					</div><!-- row -->
				</div>

			</div>
		</div>
		<div class="department-details-benefits-inner-box col-lg-12 ">
					<div class="row row-gutter-30 align-items-center">
						<div class="col-lg-2">
							<div class="department-details-benefits-box-image">
								<div class="department-two-img-icon position-relative ">
									<a href="/News/Updates"><i class="flaticon-portfolio"></i></a>
								</div>
							</div><!-- department-details-benefits-box-image -->
						</div><!--col-lg-6-->
						<div class="col-lg-6">
							<div class="department-details-benefits-box">
								<h3>Jobs Title</h3>
								<p> Jobs Description: Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
							
							</div><!-- department-details-benefits-box -->
						</div><!-- col-lg-6 -->
					</div><!-- row -->
		</div>
		<div class="department-details-benefits-inner-box col-lg-12 ">
					<div class="row row-gutter-30 align-items-center">
						<div class="col-lg-2">
							<div class="department-details-benefits-box-image">
								<div class="department-two-img-icon position-relative ">
									<a href="/News/Updates"><i class="flaticon-portfolio"></i></a>
								</div>
							</div><!-- department-details-benefits-box-image -->
						</div><!--col-lg-6-->
						<div class="col-lg-6">
							<div class="department-details-benefits-box">
								<h3>Jobs Title</h3>
								<p> Jobs Description: Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
							
							</div><!-- department-details-benefits-box -->
						</div><!-- col-lg-6 -->
					</div><!-- row -->
				</div>
	</div>
</section>

@*<div class="row row-gutter-30">
			<div class="department-details-benefits-inner-box col-lg-12 ">
				<div class="row row-gutter-30 align-items-center">
					<div class="col-lg-4">
						<div class="department-details-benefits-box-image">
							<div class="department-two-img-icon">
								<a href="/News/Updates"><i class="flaticon-portfolio"></i></a>
							</div>
						</div><!-- department-details-benefits-box-image -->
					</div><!--col-lg-6-->
					<div class="col-lg-6">
						<div class="department-details-benefits-box">
							<h3>Project Title</h3>
							<p> Summary: Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
							<ul class="list-unstyled list-style">
								<li>
									<i class="fa-solid fa-circle-arrow-right"></i>
									<h5>Location</h5>
								</li><!-- li -->
							</ul><!-- ul -->
						</div><!-- department-details-benefits-box -->
					</div><!-- col-lg-6 -->
				</div><!-- row -->
			</div>

		</div>*@