@page
@model NDDC_Website_2024.Pages.NewsModel
@{
}
<section class="page-banner mb-5">
	<div class="container">
		<div class="page-breadcrumbs">
			<ul class="list-unstyled">
				<li><a href="index.html">Home</a></li>
				<li>News</li>
			</ul><!-- list-unstyled -->
		</div><!-- page-breadcrumbs -->
		<div class="page-banner-title">
			<h3>News</h3>
		</div><!-- page-banner-title -->
	</div><!-- container -->			
</section><!--page-banner-->
<section class="blog-section blog-section-two p-5">
	<div class="d-flex">
		<div class="row">
			<div class="section-title-box text-center">
				<div class="section-tagline">News</div>
				<h2 class="section-title">Check Out Our Latest News</h2>
			</div>
			<div class="col-lg-4">
				<div class="sidebar">
					<div class="sidebar-form-content">
						<div class="sidebar__item sidebar__item--search">
							<form action="#" class="sidebar__search">
								<label for="search" class="sr-only">search here</label><!-- sr-only -->
								<input type="text" placeholder="Search Here">
								<button type="submit" aria-label="search submit" class="thm-btn">
									<i class="flaticon-search-interface-symbol"></i>
								</button><!-- thm-btn -->
							</form><!-- sidebar__search -->
						</div><!-- sidebar__item -->
					</div><!-- sidebar-form-content -->
					<div class="sidebar-widget sidebar-widget-recent-category">
						<div class="sidebar-widget-recent-category-box">
							<h4 class="section-title text-left">Categories</h4>
							<ul class="list-unstyled">
								<li><a href="news-details.html">City News<i class="fa-solid fa-chevron-right"></i></a></li>
								<li><a href="news-details.html">Community<i class="fa-solid fa-chevron-right"></i></a></li>
								<li><a href="news-details.html">Culture <i class="fa-solid fa-chevron-right"></i></a></li>
								<li><a href="news-details.html">Devlopement<i class="fa-solid fa-chevron-right"></i></a></li>
								<li><a href="news-details.html">Government<i class="fa-solid fa-chevron-right"></i></a></li>
							</ul><!-- list-unstyled -->
						</div><!-- sidebar-widget-recent-category-box -->
					</div><!-- sidebar-widget-one sidebar-widget-recent-category -->
					<div class="sidebar-widget sidebar-widget-tag d-none d-lg-block">
						<h4>Tags</h4>
						<div class="sidebar-widget-tag-inner">
							<a href="news-details.html">Culture</a>
							<a href="news-details.html">Government</a>
							<a href="news-details.html">City</a>
							<a href="news-details.html">Development</a>
							<a href="news-details.html">Life</a>
						</div><!-- sidebar-widget-tag-inner -->
					</div><!-- sidebar-widget sidebar-widget-tag -->
				</div><!-- sidebar -->
			</div>
			<div class="col-lg-8">
				<div class="row row-gutter-y-155 m-0">
					<div class="col-lg-6 col-xl-4">
						<div class="blog-card">
							<div class="blog-card-image">
								<img src="assets/image/blog/blog-1.jpg" class="img-fluid" alt="img-184">
								<a href="news-details.html"></a>
							</div><!-- blog-card-image -->
							<div class="blog-card-date">
								<a href="news-details.html">28SEP</a>
							</div><!-- blog-card-date -->
							<div class="blog-card-content">
								<div class="blog-card-meta">
									<span class="author">
										by<a href="news-details.html">Admin</a>
									</span><!-- author -->
									<span class="comment">
										<a href="news-details.html">02 Comments</a>
									</span><!-- comment -->	
								</div><!-- blog-card-meta -->
								<h4><a href="news-details.html">Supporting local business to bounce back</a></h4>
								<p>Tellus amet vel nisi, vel felis morbi sit et. Risus, pulvinar ultricie</p>
							</div><!-- blog-card-content -->
						</div><!-- blog-card -->	
					</div><!-- col-lg-6 col-xl-4 -->
					<div class="col-lg-6 col-xl-4">
						<div class="blog-card">
							<div class="blog-card-image">
								<img src="assets/image/blog/blog-2.jpg" class="img-fluid" alt="img-185">
								<a href="news-details.html"></a>
							</div><!-- blog-card-image -->
							<div class="blog-card-date">
								<a href="news-details.html">28SEP</a>
							</div><!-- blog-card-date -->
							<div class="blog-card-content">
								<div class="blog-card-meta">
									<span class="author">
										by<a href="news-details.html">Admin</a>
									</span><!-- author -->
									<span class="comment">
										<a href="news-details.html">02 Comments</a>
									</span><!-- comment -->	
								</div><!-- blog-card-meta -->
								<h4><a href="news-details.html">Resilience for TownGov Green Project</a></h4>
								<p>Tellus amet vel nisi, vel felis morbi sit et. Risus, pulvinar ultricie</p>
							</div><!-- blog-card-content -->
						</div><!-- blog-card -->	
					</div><!-- col-lg-6 col-xl-4 -->
					<div class="col-lg-6 col-xl-4">
						<div class="blog-card">
							<div class="blog-card-image">
								<img src="assets/image/blog/blog-3.jpg" class="img-fluid" alt="img-186">
								<a href="news-details.html"></a>
							</div><!-- blog-card-image -->
							<div class="blog-card-date">
								<a href="news-details.html">28SEP</a>
							</div><!-- blog-card-date -->
							<div class="blog-card-content">
								<div class="blog-card-meta">
									<span class="author">
										by<a href="news-details.html">Admin</a>
									</span><!-- author -->
									<span class="comment">
										<a href="news-details.html">02 Comments</a>
									</span><!-- comment -->	
								</div><!-- blog-card-meta -->
								<h4><a href="news-details.html">Save soil and save world project in 2022</a></h4>
								<p>Tellus amet vel nisi, vel felis morbi sit et. Risus, pulvinar ultricie</p>
							</div><!-- blog-card-content -->
						</div><!-- blog-card -->	
					</div><!-- col-lg-6 col-xl-4 -->
					<div class="col-lg-6 col-xl-4">
						<div class="blog-card">
							<div class="blog-card-image">
								<img src="assets/image/blog/blog-4.jpg" class="img-fluid" alt="img-187">
								<a href="news-details.html"></a>
							</div><!-- blog-card-image -->
							<div class="blog-card-date">
								<a href="news-details.html">28SEP</a>
							</div><!-- blog-card-date -->
							<div class="blog-card-content">
								<div class="blog-card-meta">
									<span class="author">
										by<a href="news-details.html">Admin</a>
									</span><!-- author -->
									<span class="comment">
										<a href="news-details.html">02 Comments</a>
									</span><!-- comment -->	
								</div><!-- blog-card-meta -->
								<h4><a href="news-details.html">Shopping Gathering Plan for the 2021 Holiday Season</a></h4>
								<p>Tellus amet vel nisi, vel felis morbi sit et. Risus, pulvinar ultricie</p>
							</div><!-- blog-card-content -->
						</div><!-- blog-card -->	
					</div><!-- col-lg-6 col-xl-4 -->
					<div class="col-lg-6 col-xl-4">
						<div class="blog-card">
							<div class="blog-card-image">
								<img src="assets/image/blog/blog-5.jpg" class="img-fluid" alt="img-188">
								<a href="news-details.html"></a>
							</div><!-- blog-card-image -->
							<div class="blog-card-date">
								<a href="news-details.html">28SEP</a>
							</div><!-- blog-card-date -->
							<div class="blog-card-content">
								<div class="blog-card-meta">
									<span class="author">
										by<a href="news-details.html">Admin</a>
									</span><!-- author -->
									<span class="comment">
										<a href="news-details.html">02 Comments</a>
									</span><!-- comment -->	
								</div><!-- blog-card-meta -->
								<h4><a href="news-details.html">Connected Justice and the rapid change in technology</a></h4>
								<p>Tellus amet vel nisi, vel felis morbi sit et. Risus, pulvinar ultricie</p>
							</div><!-- blog-card-content -->
						</div><!-- blog-card -->	
					</div><!-- col-lg-6 col-xl-4 -->
					<div class="col-lg-6 col-xl-4">
						<div class="blog-card">
							<div class="blog-card-image">
								<img src="assets/image/blog/blog-6.jpg" class="img-fluid" alt="img-189">
								<a href="news-details.html"></a>
							</div><!-- blog-card-image -->
							<div class="blog-card-date">
								<a href="news-details.html">28SEP</a>
							</div><!-- blog-card-date -->
							<div class="blog-card-content">
								<div class="blog-card-meta">
									<span class="author">
										by<a href="news-details.html">Admin</a>
									</span><!-- author -->
									<span class="comment">
										<a href="news-details.html">02 Comments</a>
									</span><!-- comment -->	
								</div><!-- blog-card-meta -->
								<h4><a href="news-details.html">Spotlight on USA: Reinventing Government</a></h4>
								<p>Tellus amet vel nisi, vel felis morbi sit et. Risus, pulvinar ultricie</p>
							</div><!-- blog-card-content -->
						</div><!-- blog-card -->	
					</div><!-- col-lg-6 col-xl-4 -->
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="blog-pagination-outer">
						<div class="blog-pagination float-end">
								<a class="prev page-numbers" href="#"><b><i class="fa-solid fa-chevron-left"></i></b></a>
								<span class="page-numbers current"><b>01</b></span>
								<a class="page-numbers" href="#"><b>02</b></a>
								<a class="page-numbers" href="#"><b>03</b></a>
								<a class="page-numbers" href="#"><b>04</b></a>
								<a class="next page-numbers" href="#"><b><i class="fa-solid fa-chevron-right"></i></b></a>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
</section>
