@page
@model NDDC_Website_2024.Pages.News.AnnouncementsModel
@{
}
<section class="page-banner mb-5">
	<div class="container">
		<div class="page-breadcrumbs">
			<ul class="list-unstyled">
				<li><a href="index.html">Home</a></li>
				<li>Announcements</li>
			</ul><!-- list-unstyled -->
		</div><!-- page-breadcrumbs -->
		<div class="page-banner-title">
			<h3>Announcements</h3>
		</div><!-- page-banner-title -->
	</div><!-- container -->
</section><!--page-banner-->

<section class="news-details-section">
	<div class="container">
		<div class="row justify-content-center">
			<h1 class="text-center">Latest Announcements</h1>
			<div class="col-lg-10">
				<div class="news-details-meta-box">
					<div class="news-details-meta-box-inner">
						<span class="author">
							Announced on:<a href="news-details.html">12/11/21</a>
						</span><!-- author -->
					</div><!-- news-details-meta-box-inner -->
				</div><!-- news-details-meta-box -->
				<div class="news-details-content-box">
					<h3>Supporting local business to bounce back</h3>
					<p>Tliq is notm hendr erit a augue insu image pellen tes que id erat quis sollicitud. Lorem ipsum dolor sit amet, consectetur adipiscing ullam blandit hendrerit faucibus suspendisse. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
				</div><!-- /.news-details-content-box -->
				<div class="news-details-share-box">
					<div class="news-details-inner justify-content-end">
						<div class="news-details-list">
							<!-- news-details-list-title -->
							<div class="news-details-list-button">

								<a href="news-details.html" class="btn btn-primary">More Information</a>
							</div><!-- news-details-list-button -->
						</div><!--news-details-list-->
						<!-- news-details-list -->
					</div><!-- news-details-inner -->
				</div>
			</div>
			<div class="col-lg-10">
				<div class="news-details-meta-box">
					<div class="news-details-meta-box-inner">
						<span class="author">
							Announced on:<a href="news-details.html">12/11/21</a>
						</span><!-- author -->
					</div><!-- news-details-meta-box-inner -->
				</div><!-- news-details-meta-box -->
				<div class="news-details-content-box">
					<h3>Supporting local business to bounce back</h3>
					<p>Tliq is notm hendr erit a augue insu image pellen tes que id erat quis sollicitud. Lorem ipsum dolor sit amet, consectetur adipiscing ullam blandit hendrerit faucibus suspendisse. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
				</div><!-- /.news-details-content-box -->
				<div class="news-details-share-box">
					<div class="news-details-inner justify-content-end">
						<div class="news-details-list">
							<!-- news-details-list-title -->
							<div class="news-details-list-button">

								<a href="news-details.html" class="btn btn-primary">More Information</a>
							</div><!-- news-details-list-button -->
						</div><!--news-details-list-->
						<!-- news-details-list -->
					</div><!-- news-details-inner -->
				</div>
			</div>
			<div class="col-lg-10">
				<div class="news-details-meta-box">
					<div class="news-details-meta-box-inner">
						<span class="author">
							Announced on:<a href="news-details.html">12/11/21</a>
						</span><!-- author -->
					</div><!-- news-details-meta-box-inner -->
				</div><!-- news-details-meta-box -->
				<div class="news-details-content-box">
					<h3>Supporting local business to bounce back</h3>
					<p>Tliq is notm hendr erit a augue insu image pellen tes que id erat quis sollicitud. Lorem ipsum dolor sit amet, consectetur adipiscing ullam blandit hendrerit faucibus suspendisse. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
				</div><!-- /.news-details-content-box -->
				<div class="news-details-share-box">
					<div class="news-details-inner justify-content-end">
						<div class="news-details-list">
							<!-- news-details-list-title -->
							<div class="news-details-list-button">

								<a href="news-details.html" class="btn btn-primary">More Information</a>
							</div><!-- news-details-list-button -->
						</div><!--news-details-list-->
						<!-- news-details-list -->
					</div><!-- news-details-inner -->
				</div>
			</div>

			<div class="col-lg-10">
				<div class="news-details-meta-box">
					<div class="news-details-meta-box-inner">
						<span class="author">
							Announced on:<a href="news-details.html">12/11/21</a>
						</span><!-- author -->
					</div><!-- news-details-meta-box-inner -->
				</div><!-- news-details-meta-box -->
				<div class="news-details-content-box">
					<h3>Supporting local business to bounce back</h3>
					<p>Tliq is notm hendr erit a augue insu image pellen tes que id erat quis sollicitud. Lorem ipsum dolor sit amet, consectetur adipiscing ullam blandit hendrerit faucibus suspendisse. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
				</div><!-- /.news-details-content-box -->
				<div class="news-details-share-box">
					<div class="news-details-inner justify-content-end">
						<div class="news-details-list">
							<!-- news-details-list-title -->
							<div class="news-details-list-button">

								<a href="news-details.html" class="btn btn-primary">More Information</a>
							</div><!-- news-details-list-button -->
						</div><!--news-details-list-->
						<!-- news-details-list -->
					</div><!-- news-details-inner -->
				</div>
			</div>
		</div><!-- row -->
	</div><!-- container -->
</section>