@page
@model NDDC_Website_2024.Pages.News.NewsPhotoGalleryModel
@{
}
<div class="portfolio-section">
	<div class="container">
		<div class="section-title-box text-center">
			<div class="section-tagline">News Photo Gallery</div>
			<h2 class="section-title">News Details Header</h2>
		</div>
		<div class="row row-gutter-30">
			<div class="col-lg-4 col-md-4">
				<div class="portfolio-card">
					<img src="/assets/image/portfolio/portfolio-7.png" class="img-fluid" alt="img-97">

				</div><!--portfolio-card-->
			</div><!-- col-lg-4 col-md-4 -->
			<div class="col-lg-4 col-md-4">
				<div class="portfolio-card">
					<img src="/assets/image/portfolio/portfolio-7.png" class="img-fluid" alt="img-97">

				</div><!--portfolio-card-->
			</div><!-- col-lg-4 col-md-4 -->
			<div class="col-lg-4 col-md-4">
				<div class="portfolio-card">
					<img src="/assets/image/portfolio/portfolio-7.png" class="img-fluid" alt="img-97">

				</div><!--portfolio-card-->
			</div><!-- col-lg-4 col-md-4 -->
			<div class="col-lg-4 col-md-4">
				<div class="portfolio-card">
					<img src="/assets/image/portfolio/portfolio-7.png" class="img-fluid" alt="img-97">

				</div><!--portfolio-card-->
			</div><!-- col-lg-4 col-md-4 -->
			<div class="col-lg-4 col-md-4">
				<div class="portfolio-card">
					<img src="/assets/image/portfolio/portfolio-7.png" class="img-fluid" alt="img-97">

				</div><!--portfolio-card-->
			</div><!-- col-lg-4 col-md-4 -->
			<div class="col-lg-4 col-md-4">
				<div class="portfolio-card">
					<img src="/assets/image/portfolio/portfolio-7.png" class="img-fluid" alt="img-97">

				</div><!--portfolio-card-->
			</div><!-- col-lg-4 col-md-4 -->
			<div class="col-lg-4 col-md-4">
				<div class="portfolio-card">
					<img src="/assets/image/portfolio/portfolio-7.png" class="img-fluid" alt="img-97">

				</div><!--portfolio-card-->
			</div><!-- col-lg-4 col-md-4 -->
			<div class="col-lg-4 col-md-4">
				<div class="portfolio-card">
					<img src="/assets/image/portfolio/portfolio-7.png" class="img-fluid" alt="img-97">

				</div><!--portfolio-card-->
			</div><!-- col-lg-4 col-md-4 -->
			<div class="col-lg-4 col-md-4">
				<div class="portfolio-card">
					<img src="/assets/image/portfolio/portfolio-7.png" class="img-fluid" alt="img-97">

				</div><!--portfolio-card-->
			</div><!-- col-lg-4 col-md-4 -->
		</div><!-- row -->
	</div><!--container-->
</div>