@page
@model NDDC_Website_2024.Pages.News.PublicationsModel
@{
}

@* <section class="page-banner mb-5">
	<div class="container">
		<div class="page-breadcrumbs">
			<ul class="list-unstyled">
				<li><a href="index.html">Home</a></li>
				<li>Publications</li>
			</ul><!-- list-unstyled -->
		</div><!-- page-breadcrumbs -->
		<div class="page-banner-title">
			<h3>Publications</h3>
		</div><!-- page-banner-title -->
	</div><!-- container -->			
</section><!--page-banner--> *@
<section class="service-one-section pt-5">
	<div class="container">
		<div class="section-title-box text-center">
			<div class="section-tagline">Publications</div>
            <h2 class="section-title">Our Publications </h2>
		</div>
		<!-- section-title-box -->

		<div class="row row-gutter-30">
			<div class="col-lg-6 col-xl-4">
				<div class="service-one-card">
					<div class="service-one-card-content">
						<h4><a href="service-details.html"> Building Partnerships for Regional Development</a></h4>
						<p>News Letter</p>
						<a href="cause-details.html" class="btn btn-primary">Download Now</a>
					</div><!-- service-one-card-content -->
				</div><!--service-one-card-->
			</div><!--col-lg-6 col-xl-4-->
			<div class="col-lg-6 col-xl-4">
				<div class="service-one-card">
					<div class="service-one-card-content">
						<h4><a href="service-details.html"> Building Partnerships for Regional Development</a></h4>
						<p>News Letter</p>
						<a href="cause-details.html" class="btn btn-primary">Download Now</a>
					</div><!-- service-one-card-content -->
				</div><!--service-one-card-->
			</div><!--col-lg-6 col-xl-4-->
			<div class="col-lg-6 col-xl-4">
				<div class="service-one-card">
					<div class="service-one-card-content">
						<h4><a href="service-details.html"> Building Partnerships for Regional Development</a></h4>
						<p>News Letter</p>
						<a href="cause-details.html" class="btn btn-primary">Download Now</a>
					</div><!-- service-one-card-content -->
				</div><!--service-one-card-->
			</div><!--col-lg-6 col-xl-4-->
			<div class="col-lg-6 col-xl-4">
				<div class="service-one-card">
					<div class="service-one-card-content">
						<h4><a href="service-details.html"> Building Partnerships for Regional Development</a></h4>
						<p>News Letter</p>
						<a href="cause-details.html" class="btn btn-primary">Download Now</a>
					</div><!-- service-one-card-content -->
				</div><!--service-one-card-->
			</div><!--col-lg-6 col-xl-4-->
			<div class="col-lg-6 col-xl-4">
				<div class="service-one-card">
					<div class="service-one-card-content">
						<h4><a href="service-details.html"> Building Partnerships for Regional Development</a></h4>
						<p>News Letter</p>
						<a href="cause-details.html" class="btn btn-primary">Download Now</a>
					</div><!-- service-one-card-content -->
				</div><!--service-one-card-->
			</div><!--col-lg-6 col-xl-4-->
			<div class="col-lg-6 col-xl-4">
				<div class="service-one-card">
					<div class="service-one-card-content">
						<h4><a href="service-details.html"> Building Partnerships for Regional Development</a></h4>
						<p>News Letter</p>
						<a href="cause-details.html" class="btn btn-primary">Download Now</a>
					</div><!-- service-one-card-content -->
				</div><!--service-one-card-->
			</div><!--col-lg-6 col-xl-4-->
			<div class="col-lg-6 col-xl-4">
				<div class="service-one-card">
					<div class="service-one-card-content">
						<h4><a href="service-details.html"> Building Partnerships for Regional Development</a></h4>
						<p>News Letter</p>
						<a href="cause-details.html" class="btn btn-primary">Download Now</a>
					</div><!-- service-one-card-content -->
				</div><!--service-one-card-->
			</div><!--col-lg-6 col-xl-4-->
			<div class="col-lg-6 col-xl-4">
				<div class="service-one-card">
					<div class="service-one-card-content">
						<h4><a href="service-details.html">A New Dawn Is Here</a></h4>
						<p>News Letter</p>
						<a href="cause-details.html" class="btn btn-primary">Download Now</a>
					</div><!-- service-one-card-content -->
				</div><!--service-one-card-->
			</div><!--col-lg-6 col-xl-4-->
			<div class="col-lg-6 col-xl-4">
				<div class="service-one-card">
					<div class="service-one-card-content">
						<h4><a href="service-details.html">New Thinking. New Frontiers. New Partnerships</a></h4>
						<p>News Letter</p>
						<a href="cause-details.html" class="btn btn-primary">Download Now</a>
					</div><!-- service-one-card-content -->
				</div><!--service-one-card-->
			</div><!--col-lg-6 col-xl-4-->
			<div class="col-lg-6 col-xl-4">
				<div class="service-one-card">
					<div class="service-one-card-content">
						<h4><a href="service-details.html"> Building Partnerships for Regional Development</a></h4>
						<p>News Letter</p>
						<a href="cause-details.html" class="btn btn-primary">Download Now</a>
					</div><!-- service-one-card-content -->
				</div><!--service-one-card-->
			</div><!--col-lg-6 col-xl-4-->
			<div class="col-lg-6 col-xl-4">
				<div class="service-one-card">
					<div class="service-one-card-content">
						<h4><a href="service-details.html">A New Dawn Is Here</a></h4>
						<p>News Letter</p>
						<a href="cause-details.html" class="btn btn-primary">Download Now</a>
					</div><!-- service-one-card-content -->
				</div><!--service-one-card-->
			</div><!--col-lg-6 col-xl-4-->
			<div class="col-lg-6 col-xl-4">
				<div class="service-one-card">
					<div class="service-one-card-content">
						<h4><a href="service-details.html">New Thinking. New Frontiers. New Partnerships</a></h4>
						<p>News Letter</p>
						<a href="cause-details.html" class="btn btn-primary">Download Now</a>
					</div><!-- service-one-card-content -->
				</div><!--service-one-card-->
			</div><!--col-lg-6 col-xl-4-->

		</div><!-- row -->
	</div><!-- container -->
</section>