@page
@model NDDC_Website_2024.Pages.WhatWeDo.ProjectDetailsModel
@{
}


<section class="event-details-section">
    <div class="container">
        <div class="blog-box lh-lg">
            <h1 class="pb-4 border-bottom">Project Details</h1>
            <row class="pt-3">
                <div class="col-lg-8">
                    <h1 class="fs-5 ps-4 pb-2  fw-normal">Title: <span>Reclamation Project At Ojobo Community, Delta State</span></h1>
                    <h3 class="fs-5 ps-4 pb-2  fw-normal">LGA: <span>Reclamation Project At Ojobo Community, Delta State</span></h3>
                    <h3 class="fs-5 ps-4 pb-2  fw-normal">Location: <span>Reclamation Project At Ojobo Community, Delta State</span></h3>
                    <h3 class="fs-5 ps-4 pb-2  fw-normal">Commencement Date: <span>Reclamation Project At Ojobo Community, Delta State</span></h3>
                    <h3 class="fs-5 ps-4 pb-2  fw-normal">Status: <span>Reclamation Project At Ojobo Community, Delta State</span></h3>
                    <h3 class="fs-5 ps-4 pb-2  fw-normal">Project Type: <span>Reclamation Project At Ojobo Community, Delta State</span></h3>
                    <h3 class="fs-5 ps-4 pb-2  fw-normal">Contractor: <span>Reclamation Project At Ojobo Community, Delta State</span></h3>

                </div>
        </div>
    </div>
</section>


@section Scripts {
<script>
</script>
}